{% extends 'log/base.html' %}
{% block content %}
<script type="text/javascript">

</script>
  {% csrf_token %}

          {% if movements %}
          <table class="table table-hover table-sm" id="materials">
            <thead>
              <tr>
                <th>Дата</th><th>Код</th><th>Продукт</th><th>Партия</th><th>Операция</th><th>Количество, шт</th>
              </tr>
            </thead>
            <tbody>
              {% for m in movements %}
              <tr>
                <td>{{ m.date|date:"d.m.Y" }}</td>
                <td>{{ m.product.code }}</td>
                <td>{{ m.product }}</td>
                <td>{{ m.get_batch }}</td>
                <td>{{ m.operation }}</td>
                <td>{{ m.amount|floatformat:"0" }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>No materials are available right now.</p>
          {% endif %}
  {% endblock content %}
