{% extends 'store/base.html' %}
{% block content %}
    {% load staticfiles %}
    <script>
        var stocks = null;
        $(document).ready(function () {
            changeType(0);
            stocks = JSON.parse(JSON.parse($("#stockData").prop("value")));
            addStock();
        });
        function getStocks() {
            code = "<select class='form-control inline-el stock'>";
            for (p in stocks) {
                code = code + "<option value='" + stocks[p].pk + "'>" + stocks[p].fields.name + "</option>";
            }
            code = code + "</select>";
            return code;
        }
        function addStock() {
            var code = "<div class='form-inline' style='margin-top:10px;'> - " + getStocks() + "<span style='font-size: 20px; color: #999999;' onclick='this.parentElement.remove();'><i class='fas fa-trash-alt menu-btn'></i></span></div>";
            var additionalStock = $("#stocks");
            $(code).appendTo(additionalStock);
        }
        function changeType(t){
            if (t == '2') $("#stock").show();
            else $("#stock").hide();
        }
    </script>
    <div class="container-fluid">
    <input value="{{ count_data }}" id="countData" hidden/>
    <input value="{{ stockData }}" id="stockData" hidden/>

                <div class="card" style="margin-left: 30px;margin-right: 30px;">
                    <div class="card-header">
                        <div class="filter">
                            <div class="form-inline">
                        <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#add_counter">Добавить контрагента</button>

                                <div class="form-inline" style="position: absolute; right: 0">
                                <lable for="filter" class="col-form-label">Поиск</lable>
                                <input type="search" class="form-control col-sm-9" style="margin-left:10px;width:300px" id="filter"
                                       onchange=""/>
                                <img src="{% static "img/spinner.gif" %}" id="loader" style="width: 30px; display:none">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="count_table">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Код</th>
                                <th scope="col">Наименование</th>
                                <th scope="col">Вид</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody id="count-body">
                            {% for c in counters %}
                                <tr id="{{ c.id }}">
                                    <td>{{ c.id }}</td>
                                    <td>{{ c.name }}</td>
                                    <td>{{ c.get_kind_display }}</td>
                                    <td style="text-align: right"><button class="btn btn-info" onclick="pr.getInf({{ c.id }})">Редактировать</button></td>
                                    <td style="text-align: left"><button class="btn btn-danger" onclick="delCounter(this.parentElement)">Удалить</button></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
        </div>
    </div>
    <div class="modal fade" id="add_counter">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Создание свойства</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <h6>Наименование</h6>
                    <input type="text" class="form-control" id="name"/>
                    <h6>Вид</h6>
                    <select class="form-control" name="kind" id="kind" onchange="changeType($(this).val())">
                        <option selected value="0">Организация</option>
                        <option value="1">Физлицо</option>
                        <option value="2">Административная группа</option>
                    </select>
                    <div class='form-inline' style="margin-top: 10px"><input type='checkbox' class='form-control' style="margin-right: 10px" id="isProv"> Поставщик <input type='checkbox' class='form-control inline-el' id="isCons"> Потребитель <input type='checkbox' class='form-control inline-el' id="isMember"> Участник</div>
                    <div id="stock">
                    <h6>Субъекты оборота</h6>
                    <div id="stocks">
                     </div>
                        <span style='font-size: 20px; color: yellowgreen; display: inline-block; margin-top:10px'
                          onclick="addStock()"><i class='fas fa-plus-circle'></i></span>
                    </div>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="counterBtn" onclick="sendCounter()" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

     <div class="modal fade" id="inf_prop">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Редактирование свойства</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <h6>Наименование</h6>
                    <input type="text" class="form-control" id="e_name"/>
                    <h6>Тип свойства</h6>
                    <select class="form-control" name="type" id="e_type" disabled>
                        <option value="0">Число</option>
                        <option value="1">Текст</option>
                        <option value="2">Множество</option>
                    </select>
                    <div id="e_charVal"></div>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="editBtn" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
