{% extends 'store/base.html' %}
{% block content %}
    {% load staticfiles %}
    <script>
        var unitNum = 0;
        var propNum = 0;
        var tr = null;
        var tree = {};
        var props = null;
        var units = null;
        $(document).ready(function () {
            tree = JSON.parse($("#tree_data").prop("value"));
            props = JSON.parse(JSON.parse($("#props").prop("value")));
            units = JSON.parse(JSON.parse($("#units").prop("value")));
            //var goods = JSON.parse($("#goods_data").prop("value"));
            tr = new Tree(tree);
            addUnit();
            addProp();
        });

        function getPropsCode(){
            code = "<select class='form-control inline-el prop'>";
            for (p in props){
                code = code + "<option value='" + props[p].pk + "'>" +  props[p].fields.name + "</option>";
            }
            code = code + "</select>";
            return code;
        }

        function getUnits(){
            code = "<select class='form-control inline-el unit'>";
            for (p in units){
                code = code + "<option value='" + units[p].pk + "'>" +  units[p].fields.name + "</option>";
            }
            code = code + "</select>";
            return code;
        }


        function addUnit(){
            unitNum++;
            var code = "<div class='form-inline' style='margin-top:10px;'>" + unitNum + ". " + getUnits() +
                "                       <span style='font-size: 20px; color: #999999;' onclick='this.parentElement.remove();unitNum--;'><i class='fas fa-trash-alt menu-btn'></i></span></div>";
            var additionalUnit = $("#additional_unit");
            $(code).appendTo(additionalUnit);
        }
        function addProp(){
            propNum++;
            var code = "<div class='form-inline' style='margin-top:10px;'>" + propNum + ". " + getPropsCode() + " <input type='checkbox' class='form-control inline-el visible'> Скрытое <input type='checkbox' class='form-control inline-el editable'> Неизменяемое <input type='checkbox' class='form-control inline-el isDefault'> Предустановленное <span style='font-size: 20px; color: #999999;' onclick='this.parentElement.remove();propNum--;'><i class='fas fa-trash-alt menu-btn'></i></span></div>";
            var additionalProp = $("#additional_prop");
            $(code).appendTo(additionalProp);
        }
    </script>
    {% if tree %}
        <input id="tree_data" value="{{ tree }}" hidden>
    {% else %}
        <input id="tree_data"
               value="[{&quot;name&quot;:&quot;Main&quot;, &quot;id&quot;: 0, &quot;nodes&quot;: {&quot;1&quot;: {&quot;name&quot;:&quot;Main&quot;, &quot;id&quot;: 0, &quot;nodes&quot;:{}}}}]"
               hidden>
    {% endif %}
    <input id="goods_data" value="{{ goods }}" hidden>
    <input value="{{ props }}" id="props" hidden/>
    <input value="{{ units }}" id="units" hidden/>
    <div class="container-fluid">
        <div class="row">
            <div class="left-column goods-tree-container">

                <ul id="tree" class="goods_tree">

                </ul>


            </div>
            <div class="right-column">

                <div class="card" style="margin-left: 30px;margin-right: 30px;">
                    <div class="card-header">
                        <div class="filter">
                            <div class="form-inline">
                        <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#add_model">Добавить макет</button>

                                <div class="form-inline" style="position: absolute; right: 0">
                                <lable for="filter" class="col-form-label">Поиск</lable>
                                <input type="search" class="form-control col-sm-9" style="margin-left:10px;width:300px" id="filter"
                                       onchange=""/>
                                <img src="{% static "img/spinner.gif" %}" id="loader" style="width: 30px; display:none">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="goods_table">
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Код</th>
                                <th scope="col">Название</th>
                            </tr>
                            </thead>
                            <tbody id="goods-body">
                            {% if models %}
                                {% for m in models %}
                                <tr onclick="$('#inf_model').modal();">
                                <td>{{ m.pk }}</td>
                                <td>{{ m.name }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                <td class="no-data text-right">Нет записей</td>
                                <td></td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add_model">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Создание макета</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <h6>Наименование</h6>
                    <div class="col-6" style="padding:0">
                    <input type="text" class="form-control" id="name"/>
                    </div>
                    <h6>Узел в иерархии</h6>
                <div class="col-6" style="padding:0">
                    <select class="form-control" id="group">
                        {% for g in groups %}
                            <option value="{{ g.pk }}">{{ g.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                    <h6>Единицы измерения</h6>
                    <div id ="additional_unit">
                    </div>
                    <span style='font-size: 20px; color: yellowgreen; display: inline-block; margin-top:10px' onclick="addUnit()"><i class='fas fa-plus-circle'></i></span>
                        <h6>Свойства</h6>
                    <div style='display:block' id ="additional_prop">
                    </div>
                    <span style='font-size: 20px; color: yellowgreen; display: inline-block; margin-top:10px' onclick="addProp()"><i class='fas fa-plus-circle'></i></span>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="saveModel" onclick="saveModel()" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

     <div class="modal fade" id="inf_model">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Макет 1</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <h6>Наименование</h6>
                    <p>Макет 1</p>
                    <h6>Узел в иерархии</h6>
                    <select class="form-control" id="group" readonly>
                        <option>Главный</option>
                    </select>
                    <h6>Единицы измерения</h6>
                    <div>
                        <div class="form-inline" style="margin-top:5px">
                        2. <select class="form-control inline-el" id="unit"><option>Ящик</option><option selected>Килограмм</option></select>
                        Коэфф. <input type="number" class="form-control inline-el" style="width: 7em" id="koeff" value="1"/>
                        <input type="checkbox" class="form-control inline-el" id="base" checked/> Базовая
                    </div>
                    </div>
                    <div id ="additional_unit">
                    </div>
                        <h6>Свойства</h6>
                    <div>
                    <div class="form-inline" style="padding:0px">
                    1. <select class="form-control inline-el" id="prop"><option>Цвет</option><option>Производитель</option></select>
                    </div>
                    <div style='display:block' id ="additional_prop">
                    </div>
                        </div>
                    <!--<div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="packBtn" onclick="" class="btn btn-primary"
                               style="float: right"/></div>-->
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
