{% extends 'store/base.html' %}
{% block content %}
    {% load staticfiles %}
    <script>
        var unitNum = 0;
        var propNum = 0;
        var e_unitNum = 0;
        var e_propNum = 0;
        var tr = null;
        var tree = {};
        var props = null;
        var goods = null;
        var models = null;
        var propVars = null;
        $(document).ready(function () {
            tree = JSON.parse($("#tree_data").prop("value"));
            models = JSON.parse($("#model_json").prop("value"));
            goods = JSON.parse($("#goods_json").prop("value"));
            /*units = JSON.parse(JSON.parse($("#units").prop("value")));
            //var goods = JSON.parse($("#goods_data").prop("value"));*/
            tr = new Tree(tree, "goods");
            //addUnit();
            //addProp();
            getModelInfo();
            document.getElementById("1").click();
        });

    </script>
    {% if tree %}
        <input id="tree_data" value="{{ tree }}" hidden>
    {% else %}
        <input id="tree_data"
               value="[{&quot;name&quot;:&quot;Main&quot;, &quot;id&quot;: 0, &quot;nodes&quot;: {&quot;1&quot;: {&quot;name&quot;:&quot;Main&quot;, &quot;id&quot;: 0, &quot;nodes&quot;:{}}}}]"
               hidden>
    {% endif %}
    <input id="goods_data" value="{{ goods }}" hidden>
    <input value="{{ model_json }}" id="model_json" hidden/>
    <input value="{{ goods_json }}" id="goods_json" hidden/>
    <input value="{{ prop_vars }}" id="prop_vars" hidden/>
    <div class="container-fluid">
        <div class="row">
            <div class="left-column goods-tree-container">

                <div class="card">
                    <div class="card-header" style="height: 55px">
                        <h5>Группы</h5>
                    </div>
                    <ul id="tree" class="goods_tree">

                    </ul>

                </div>


            </div>
            <div class="right-column">

                <div class="card" style="margin-left: 30px;margin-right: 30px;">
                    <div class="card-header">
                        <div class="filter">
                            <div class="form-inline">
                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                        data-target="#add_model">Добавить МЦ
                                </button>

                                <div class="form-inline" style="position: absolute; right: 0">
                                    <lable for="filter" class="col-form-label">Поиск</lable>
                                    <input type="search" class="form-control form-control-sm col-sm-9"
                                           style="margin-left:10px;width:300px" id="filter"
                                           oninput="searchGood($(this).prop('value'));"/>
                                    <img src="{% static "img/spinner.gif" %}" id="loader"
                                         style="width: 30px; display:none">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="goods_table">
                        <table class="table table-bordered table-sm">
                            <thead class="thead thead-light">
                            <tr>
                                <th scope="col">Артикул</th>
                                <th scope="col">Название</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="goods-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add_model">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Создание МЦ</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                <form id="form">
                    <h6>Макет</h6>
                    <div class="col-6" style="padding:0">
                        <select class="form-control form-control-sm" id="model" onchange="getModelInfo()">
                            {% for m in models %}
                                <option value="{{ m.pk }}">{{ m.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr>
                    <h6>Имена</h6>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="article">Артикул</label>
                            <input type="text" class="form-control form-control-sm" id="article" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">Наименование</label>
                            <input type="text" class="form-control form-control-sm" id="name">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="barcode">Штрихкод</label>
                            <input type="text" class="form-control form-control-sm" id="barcode">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="original">Оригинальное</label>
                            <input type="text" class="form-control form-control-sm" id="original">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="local">Локальное</label>
                            <input type="text" class="form-control form-control-sm" id="local">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="transit">Транзитное</label>
                            <input type="text" class="form-control form-control-sm" id="transit">
                        </div>
                    </div>

                    <hr>
                    <h6>Производитель</h6>
                    <div class="col-6" style="padding:0">
                        <select class="form-control form-control-sm" id="counter">
                            {% for c in counters %}
                                <option value="{{ c.pk }}">{{ c.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr>
                    <h6>Единицы измерения</h6>
                    <div id="units">
                    </div>

                    <hr>
                    <h6>Свойства</h6>
                    <div style='display:block' id="props">
                    </div>
                </form>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="saveModel" onclick="saveGood()" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="inf_good">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="modalHeader">Редактирование МЦ</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <h6>Макет</h6>
                    <div class="col-6" style="padding:0">
                        <select class="form-control form-control-sm" id="e_model" readonly>
                            {% for m in models %}
                                <option value="{{ m.pk }}">{{ m.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr>
                    <h6>Имена</h6>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="article">Артикул</label>
                            <input type="text" class="form-control form-control-sm" id="e_article">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="name">Наименование</label>
                            <input type="text" class="form-control form-control-sm" id="e_name">
                        </div>
                    </div>
                <div id="names" style="display:none">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="barcode">Штрихкод</label>
                            <input type="text" class="form-control form-control-sm" id="e_barcode">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="original">Оригинальное</label>
                            <input type="text" class="form-control form-control-sm" id="e_original">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="local">Локальное</label>
                            <input type="text" class="form-control form-control-sm" id="e_local">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="transit">Транзитное</label>
                            <input type="text" class="form-control form-control-sm" id="e_transit">
                        </div>
                    </div>
                </div>
    <div class="form-row"><hr class="half"><span style='font-size: 20px;' onclick="openClose('names', this.firstChild)"><i class='fas fa-angle-down'></i></span><hr class="half"></div>
                    <hr>
                    <h6>Производитель</h6>
                    <div class="col-6" style="padding:0">
                        <select class="form-control form-control-sm" id="e_counter">
                            {% for c in counters %}
                                <option value="{{ c.pk }}">{{ c.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr>
                    <h6>Единицы измерения</h6>
                    <div id="e_units">
                    </div>
                <div class="form-row"><hr class="half"><span style='font-size: 20px;' onclick="openClose('e_units', this.firstChild)"><i class='fas fa-angle-up'></i></span><hr class="half"></div>
                    <hr>
                    <h6>Свойства</h6>
                    <div style='display:block' id="e_props">
                    </div>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="editBtn" onclick="" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
