{% extends 'store/base.html' %}
{% block content %}
    {% load staticfiles %}
    <script>
    $(document).ready(function(){
        //var goods = JSON.parse($("#goods_data").prop("value"));
        initTree();
    });
    </script>
    {% if tree %}
    <input id="tree_data" value="{{ tree }}" hidden>
    {% else %}
        <input id="tree_data" value="[{&quot;name&quot;:&quot;Main&quot;, &quot;id&quot;: 0, &quot;nodes&quot;: {&quot;1&quot;: {&quot;name&quot;:&quot;Main&quot;, &quot;id&quot;: 0, &quot;nodes&quot;:{}}}}]" hidden>
    {% endif %}
    <input id="goods_data" value="{{ goods }}" hidden>
    <div class="container-fluid">
    <div class="filter">
        <div class="form-inline">

    <lable for="filter" class="col-form-label">Поиск </lable>
    <input type="text" class="form-control col-sm-3" style="margin-left:10px" id="filter" onchange=""/>
    <img src="{% static "img/spinner.gif" %}" id="loader" style="width: 30px; display:none">
        </div>
    </div>
        <div class="row">
            <div class="left-column goods-tree-container">

            <ul id="tree" class="goods_tree">

            </ul>


        </div>
            <div class="right-column">
                <div class="goods_table">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Код</th>
                            <th scope="col">Название</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Комплектность</th>
                            <th scope="col">Ед.</th>
                        </tr>
                        </thead>
                        <tbody id="goods-body">
                        <tr><td></td><td></td><td class="no-data text-right">Нет записей</td><td></td><td></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
