{% extends 'store/base.html' %}
{% block content %}
    {% load staticfiles %}
    <script>
        var unitNum = 0;
        var propNum = 0;
        var e_unitNum = 0;
        var e_propNum = 0;
        var tr = null;
        var tree = {};
        var props = null;
        var goods = null;
        var models = null;
        var propVars = null;
        $(document).ready(function () {
            tree = JSON.parse($("#tree_data").prop("value"));
            models = JSON.parse($("#model_json").prop("value"));
            goods = JSON.parse($("#goods_json").prop("value"));
            /*units = JSON.parse(JSON.parse($("#units").prop("value")));
            //var goods = JSON.parse($("#goods_data").prop("value"));*/
            tr = new Tree(tree, "goods");
            //addUnit();
            //addProp();
            getModelInfo();
            document.getElementById("1").click();
        });

        function addName(tr) {
            var code = "<tr class='name'>\n" +
                "                            <td><input type=\"text\" class=\"form-control form-control-sm\"  required/></td>\n" +
                "                            <td>\n" +
                "                                <select class=\"form-control form-control-sm type\">\n" +
                "                                    <option value=\"0\">Наименование</option>\n" +
                "                                    <option value=\"1\">Артикул</option>\n" +
                "                                    <option value=\"2\">Штрихкод</option>\n" +
                "                                </select>\n" +
                "                            </td>\n" +
                "                            <td>\n" +
                "                                <select class=\"form-control form-control-sm area\">\n" +
                "                                    <option value=\"0\">Локальное</option>\n" +
                "                                    <option value=\"1\">Транзитное</option>\n" +
                "                                    <option value=\"2\">Оригинальное</option>\n" +
                "                                </select>\n" +
                "                            </td><td style='padding-top: 12px'><span onclick='this.parentElement.parentElement.remove()'><i class='fas fa-trash-alt'></i></span></td>\n" +
                "                        </tr>";
            $(tr.parentElement.parentElement).before(code);
        }
        function confirmDel(name, id) {
            $("#delBtn").unbind();
            $("#delBtn").click(function(){
                delGood(id);
            });
            $("#del-name").text(name);
            $("#del_modal").modal();
        }
    </script>
    {% if tree %}
        <input id="tree_data" value="{{ tree }}" hidden>
    {% else %}
        <input id="tree_data"
               value="[{&quot;name&quot;:&quot;Main&quot;, &quot;id&quot;: 0, &quot;nodes&quot;: {&quot;1&quot;: {&quot;name&quot;:&quot;Main&quot;, &quot;id&quot;: 0, &quot;nodes&quot;:{}}}}]"
               hidden>
    {% endif %}
    <input id="goods_data" value="{{ goods }}" hidden>
    <input value="{{ model_json }}" id="model_json" hidden/>
    <input value="{{ goods_json }}" id="goods_json" hidden/>
    <input value="{{ prop_vars }}" id="prop_vars" hidden/>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 goods-tree-container">

                <div class="card">
                    <div class="card-header" style="height: 55px">
                        <h5>Группы</h5>
                    </div>
                    <ul id="tree" class="goods_tree">

                    </ul>

                </div>


            </div>
            <div class="col-md-9">

                <div class="card">
                    <div class="card-header">
                        <div class="filter">
                            <div class="form-inline">
                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                        data-target="#add_model">Добавить МЦ
                                </button>

                                <div class="form-inline" style="position: absolute; right: 0">
                                    <lable for="filter" class="col-form-label">Поиск</lable>
                                    <input type="search" class="form-control form-control-sm col-sm-9"
                                           style="margin-left:10px;width:300px" id="filter"
                                           oninput="searchGood($(this).prop('value'));"/>
                                    <img src="{% static "img/spinner.gif" %}" id="loader"
                                         style="width: 30px; display:none">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="goods_table">
                        <table class="table table-bordered table-sm">
                            <thead class="thead thead-light">
                            <tr>
                                <th scope="col">Артикул</th>
                                <th scope="col">Название</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody id="goods-body">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="add_model">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Создание МЦ</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                <form id="form">
                    <h6>Макет</h6>
                    <div class="col-6" style="padding:0">
                        <select class="form-control form-control-sm" id="model" onchange="getModelInfo()">
                            {% for m in models %}
                                <option value="{{ m.pk }}" name="{{ m.group.pk }}">{{ m.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr>
                    <h6>Имена</h6>
                    <table class="table table-sm table-bordered" id="names">
                        <thead>
                        <tr><th>Имя</th><th>Тип</th><th>Область</th><td></td></tr>
                        </thead>
                        <tbody>
                        <tr class="name">
                            <td><input type="text" class="form-control form-control-sm" required/></td>
                            <td>
                                <select class="form-control form-control-sm type">
                                    <option value="0">Наименование</option>
                                    <option value="1">Артикул</option>
                                    <option value="2">Штрихкод</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control form-control-sm area">
                                    <option value="0">Локальное</option>
                                    <option value="1">Транзитное</option>
                                    <option value="2">Оригинальное</option>
                                </select>
                            </td>
                            <td></td>
                        </tr>
                        <tr><td colspan="4"><button onclick="addName(this)" class="btn btn-sm btn-outline-success add-btn" style="float: right">Добавить</button></td></tr>
                        </tbody>
                    </table>

                    <hr>
                    <h6>Производитель</h6>
                    <div class="col-6" style="padding:0">
                        <select class="form-control form-control-sm" id="counter">
                            {% for c in counters %}
                                <option value="{{ c.pk }}">{{ c.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr>
                    <h6>Единицы измерения</h6>
                    <div id="units">
                    </div>

                    <hr>
                    <h6>Свойства</h6>
                    <div style='display:block' id="props">
                    </div>
                </form>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="saveModel" onclick="saveGood()" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="inf_good">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="modalHeader">Редактирование МЦ</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <h6>Макет</h6>
                    <div class="col-6" style="padding:0">
                        <select class="form-control form-control-sm" id="e_model" readonly>
                            {% for m in models %}
                                <option value="{{ m.pk }}">{{ m.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr>
                    <h6>Имена</h6>
                    <table class="table table-sm table-bordered">
                        <thead>
                        <tr><th>Имя</th><th>Тип</th><th>Область</th><td></td></tr>
                        </thead>
                        <tbody id="e_names">
                        </tbody>
                    </table>
                    <hr>
                    <h6>Производитель</h6>
                    <div class="col-6" style="padding:0">
                        <select class="form-control form-control-sm" id="e_counter">
                            {% for c in counters %}
                                <option value="{{ c.pk }}">{{ c.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr>
                    <h6>Единицы измерения</h6>
                    <div id="e_units">
                    </div>
                <div class="form-row"><hr class="half"><span style='font-size: 20px;' onclick="openClose('e_units', this.firstChild)"><i class='fas fa-angle-up'></i></span><hr class="half"></div>
                    <hr>
                    <h6>Свойства</h6>
                    <div style='display:block' id="e_props">
                    </div>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="editBtn" onclick="" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="del_modal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Удаление МЦ</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <h6>Удалить <span id="del-name"></span>?</h6>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Удалить" id="delBtn" onclick="" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
