{% extends 'store/base.html' %}
{% block content %}
    {% load staticfiles %}
    <script>
        var goods_inf = null;
        var inp = null;
        var tr = null;
        var goods = null;
        var units = null;
        var stocks = null;
        var operations = null;
        var isSupply = true;
        var isDonor = true;
        var inventory_goods = null;
        var goods_json = null;
        var pag = null;
        var curInv = null;
        $(document).ready(function () {
            goods = JSON.parse($("#goods").prop("value"));
            //goods_json = JSON.parse($("#goods_json").prop("value"));
            goods_inf = JSON.parse($("#goods_inf").prop("value"));
            stock_inf = JSON.parse($("#stock_inf").prop("value"));
            inventory_goods = JSON.parse($("#inventory_goods").prop("value"));
            tree = JSON.parse($("#tree_data").prop("value"));
            tr = new GTree(tree, "goods");
            $("#1")[0].click();
            /***********/
            pag = new Pagination(10, "op-body", "operationNav");
            pag2 = new Pagination(10, "goods-body", "operationNav2");
            $('.modal').css('overflow-y', 'auto');
            $('#inventoryDate').val(new Date().toDateInputValue());
            $(document).keypress(function (event) {
                if (event.keyCode == 13) {
                    var elClass = $(event.target).prop('class').split(" ").pop();
                    $(event.target).parent().parent().next().find('.' + elClass).focus();
                    //debugger
                    event.preventDefault();
                }
            });
        });

        function addItemToInventory() {
            if (tr.selected[0] == 'm') {
                code = "<tr id='m_" + tr.selected.substr(2) + "'><td>" + tr.selectedName + "</td><td><span onclick='this.parentElement.parentElement.remove()' style='font-size: 14pt; color:gray'><i class='fas fa-trash-alt'></i></span></td></tr>";
            }
            else if (tr.selected[0] == 'g') {
                tr.selected = tr.selected.substr(2);
                for (g in goods_inf) {
                    if (goods_inf[g] == ("0_" + tr.selected)) {
                        code = "<tr id='g_" + tr.selected + "'><td>" + goods[g] + "</td><td><span onclick='this.parentElement.parentElement.remove()' style='font-size: 14pt; color:gray'><i class='fas fa-trash-alt'></i></span></td></tr>";
                    }
                }
            }
            else {
                code = "<tr id='f_" + tr.selected + "'><td>" + tr.selectedName + "</td><td><span onclick='this.parentElement.parentElement.remove()' style='font-size: 14pt; color:gray'><i class='fas fa-trash-alt'></i></span></td></tr>";
            }
            $(code).appendTo("#inventoryProds");
        }

        function getProds(id) {
            $(".table-selected").removeClass("table-selected");
            $("#tr-" + id).addClass("table-selected");
            var code = "";
            for (g in inventory_goods[id]) {
                if (inventory_goods[id][g].name != undefined) code = code + "<tr><td>" + inventory_goods[id][g].article + "</td><td>" + inventory_goods[id][g].name + "</td></tr>";
            }
            $("#goods-body").html(code);
            pag2 = new Pagination(10, "goods-body", "operationNav2");
        }

        function openInventory(id, date) {
            curInv = id;
            var code = "";
            var tempDate = date;
            var dateForValue = tempDate.slice(6) + '-' + tempDate.slice(3, 5) + '-' + tempDate.slice(0, 2);
            $("#date-info").prop('value', dateForValue);
            $("#stock-info").text(inventory_goods[id]['stock']);
            for (g in inventory_goods[id]) {
                if (inventory_goods[id][g].name != undefined) code = code + "<tr id='i-" + g + "'><td>" + inventory_goods[id][g].article + "</td><td>" + inventory_goods[id][g].name + "</td><td>" + inventory_goods[id][g].unit + "</td><td><input class='form-control form-control-sm amount' name='amount' value='" + inventory_goods[id][g].amount + "'/></td><td><input class='form-control form-control-sm price' name='price' value='" + inventory_goods[id][g].price.toFixed(2) + "'/></td></tr>";
            }
            $("#makeInventoryProds").html(code);
            $("#make-inventory").modal();

        }

        function confirmDel(name, obj) {
            $("#delBtn").unbind();
            $("#delBtn").click(function () {
                delInventory(obj);
            });
            $("#del-name").text(name);
            $("#del_modal").modal();
        }

    </script>
    <div class="container-fluid pg">
        <input id="tree_data" value="{{ tree }}" hidden>
        <input id="goods" value="{{ goods }}" hidden>
        <input id="goods_inf" value="{{ goods_inf }}" hidden>
        <input value="{{ stockData }}" id="stock_data" hidden/>
        <input value="{{ units }}" id="units" hidden/>
        <input value="{{ stock_inf }}" id="stock_inf" hidden/>
        <input id="inventory_goods" value="{{ inventory_goods }}" hidden>
        <input id="goods_json" value="{{ goods_json }}" hidden>
        <div class="card">
            <div class="card-header">
                <div class="filter">
                    <div class="form-inline">
                        <!--<button type="button" class="btn btn-success inline-el btn-sm"
                                onclick="isSupply=true;openModalSupply()">
                            Поставка
                        </button>
                        <button type="button" class="btn btn-danger inline-el btn-sm"
                                onclick="isSupply=false;openModalSupply()">
                            Выбытие
                        </button>-->
                        <button type="button" id="openInventoryBtn" data-toggle='modal' data-target='#add-inventory'
                                class="btn btn-success btn-sm">
                            Добавить
                        </button>
                        <!--<span class="inline-el">Склад</span>
                        <select id="stock" class="form-control inline-el form-control-sm"
                                onchange="changeOperGroup($('#operGroup option:selected').text())">
                            <option value="-1">Все</option>
                            {#  {% for s in stocks %} #}
                                <option value="{#{{ s.stock.pk }}">{{ s.stock }}</option>#}
                            {#{% endfor %}#}
                        </select>-->

                    </div>
                </div>
            </div>
            <div class="count_table" style="padding-bottom: 0">
                <table class="table table-bordered table-hover table-sm" style="margin-bottom: 0">
                    <thead class="thead-light" style="text-align: center">
                    <tr>
                        <th scope="col">ВИН</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Склад</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="op-body">
                    {% if inventories %}
                        {% for i in inventories %}
                            <tr id="tr-{{ i.pk }}" onclick="getProds('{{ i.pk }}')">
                                <td>{{ i.pk }}</td>
                                <td>{{ i.date|date:"d.m.Y" }}</td>
                                <td>{{ i.stock|default_if_none:"-" }}</td>
                                <td><span
                                        onclick="openInventory({{ i.pk }}, '{{ i.date|date:"d.m.Y" }}')"><i class='fas fa-edit'
                                                                               title="Инвентаризация"></i></span><span
                                        onclick="confirmDel('{{ i.pk }}', this.parentElement)"><i
                                        class='fas fa-trash-alt menu-btn' title="Удалить"></i></span></td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="4" class="no-data">Нет записей</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>


        </div>
        <nav aria-label="..." style="margin-top: 5px; margin-right: 30px">
            <ul class="pagination pagination-sm justify-content-end" id="operationNav">
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
      <span class="page-link">
        2
      </span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
        <div class="card" style="margin-top: 30px;">
            <h6 class="card-header">
                Номенклатура
            </h6>
            <table class="table table-bordered table-sm">
                <thead class="thead-light" style="text-align: center">
                <tr>
                    <th scope="col">Артикул</th>
                    <th scope="col">Наименование</th>
                </tr>
                </thead>
                <tbody id="goods-body">
                <tr>
                    <td colspan=2 class="no-data">Нет записей</td>
                </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="..." style="margin-top: 5px; margin-right: 30px">
            <ul class="pagination pagination-sm justify-content-end" id="operationNav2">
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
      <span class="page-link">
        2
      </span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>



    <div class="modal fade" id="add-inventory">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>План инвентаризации</h5>
                    <button class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <h6>Склад</h6>
                    <select id="inv-stock" class="form-control short-input form-control-sm">
                        {% for s in stocks %}
                            <option value="{{ s.stock.pk }}">{{ s.stock }}</option>
                        {% endfor %}
                    </select>
                    <h6 style="margin-top: 10px">Дата </h6>
                    <input type="date" class="form-control short-input" id="inventoryDate"/>
                    <hr>
                    <table class="table table-bordered table-sm small-table" style="text-align: center">
                        <thead style="text-align: left" class="thead-light">
                        <tr>
                            <th>
                                <button class='btn btn-success btn-sm'
                                        data-toggle='modal' data-target='#tree-div'></span>Добавить товар или группу
                                </button>
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="inventoryProds">

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="sendInventoryBtn" type="button" class="btn btn-info"
                            onclick="sendInventoryPlan()">Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="tree-div">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Товары</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body">
                    <ul id="tree" class="goods_tree">

                    </ul>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Выбрать"
                               onclick="addItemToInventory();$('#tree-div').modal('hide');"
                               id="selectInvBtn" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="make-inventory">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Инвентаризация</h5>
                    <button class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <h6>Склад: <span id="stock-info"></span></h6>
                        <div class="form-inline">
                            <h6 id="dateLabel" class="inline-el">Дата: </h6>
                            <input type="date" class="form-control short-input form-control-sm inline-el"
                                   id="date-info" required/>
                            <h6 id="dateLabel" class="inline-el">Время: </h6>
                            <input type="time" class="form-control short-input form-control-sm inline-el"
                                   id="inventoryTime" required/>
                        </div>
                        <hr>
                        <table class="table table-bordered table-sm small-table table-responsive-sm"
                               style="text-align: center">
                            <thead style="text-align: center" class="thead-light">
                            <tr>
                                <th>Артикул</th>
                                <th>Наименование</th>
                                <th>Ед. изм.</th>
                                <th>Кол-во</th>
                                <th>Цена</th>
                            </tr>
                            </thead>
                            <tbody id="makeInventoryProds">

                            </tbody>
                        </table>
                    </form>
                </div>

                <div class="modal-footer">
                    <button id="sendPlannedInventoryBtn" type="button" class="btn btn-info"
                            onclick="sendPlannedInventory()">Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="del_modal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Удаление инвентаризации</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <h6>Удалить <span id="del-name"></span>?</h6>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Удалить" id="delBtn" onclick="" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
