{% extends 'store/base.html' %}
{% block content %}
    {% load staticfiles %}
    <script>
    </script>
    <div class="container-fluid" style="max-width: 1200px;">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm p2">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Перемещение</h4>
                </div>
                <div class="card-body">
                    <p class="login"><span> <i class="fas fa-dolly"></i></span></p>
                    <hr>
                    <ul class="nav flex-column main-menu">
                        <li class="nav-item">
                            <a class="nav-link p2" href="/stock/requirements/"><i class="fas fa-sign-in-alt"></i> Заказы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p2" href="/stock/offers/"><i class="fas fa-sign-out-alt"></i> Предложения</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Склад</h4>
                </div>
                <div class="card-body">
                    <p class="login"><span> <i class="fas fa-boxes"></i></span></p>
                    <hr>
                    <ul class="nav flex-column main-menu">
                        <li class="nav-item">
                            <a class="nav-link p5" href="/stock/stocks/"><i class="fas fa-box"></i> Остатки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p4" href="/stock/stock_operations/"><i class="fas fa-book"></i> Журнал учётных операций</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p3" href="/stock/shipment/"><i class="fas fa-truck"></i> Отпуск</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p3" href="/stock/supplies/"><i class="fas fa-dolly-flatbed"></i> Поступления</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p3" href="/stock/inventory/"><i class="fas fa-pallet"></i> Инвентаризация</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4 shadow-sm p1" hidden>
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Справочник</h4>
                </div>
                <div class="card-body">
                    <p class="login"><span><i class="fas fa-clipboard-list"></i></span></p>
                    <hr>
                    <ul class="nav flex-column main-menu">
                        <li class="nav-item">
                            <a class="nav-link p1" href="/stock/goods_models/"><i class="far fa-clipboard"></i> Макеты товаров</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p1" href="/stock/goods/"><i class="fas fa-cubes"></i> Товары</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p1" href="/stock/props/"><i class="fas fa-cogs"></i> Свойства</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p1" href="/stock/const/"><i class="fas fa-cogs"></i> Константы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p1" href="/stock/projection/"><i class="fas fa-cogs"></i> Проекции</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p1" href="/stock/counterparties/"><i class="far fa-address-book"></i> Контрагенты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link p1" href="/stock/storages/"><i class="fas fa-boxes"></i> Склады</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
