{% extends 'store/base.html' %}
{% block content %}
    {% load staticfiles %}
    <script>
        var selected = 0;
        var goods_inf = null;
        var inp = null;
        var tr = null;
        var goods = null;
        var units = null;
        var stocks = null;
        var reqs = {};
        var reqInfo = {};
        var curReq = null;
        var isInbox = false;
        $(document).ready(function () {
            //goods = JSON.parse(JSON.parse($("#stockData").prop("value")));
            //addStock();
            goods = JSON.parse($("#goods").prop("value"));
            goods_inf = JSON.parse($("#goods_inf").prop("value"));
            tree = JSON.parse($("#tree_data").prop("value"));
            tr = new GTree(tree, "goods");
            document.getElementById("1").click();
            units = JSON.parse($("#units").prop("value"));
            stocks = JSON.parse($("#stock_data").prop("value"));
            reqs = JSON.parse($("#reqs").prop("value"));
            addGoodField();
            loadReqs("-1");
            getStocks('acceptor');
            getStocks('donor');
            pag = new Pagination(10, "req-body", "reqNav");
            pag2 = new Pagination(10, "goods-body", "goodsNav");
            $('#date').val(new Date().toDateInputValue());
        });

        function toggleReqs(btn, t) {
            isInbox = t;
            $(".reqBtn").prop('disabled', false);
            btn.disabled = true;
            loadReqs($("#curStock").val());
        }

        function sendReq(goods) {
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                type: "POST",
                url: 'save_req_goods/',
                data: {
                    'goods': JSON.stringify(goods)
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function onAjaxSuccess() {
                    for (r in reqInfo[curReq]) {
                        $("#goods-body").find("tr").eq(r).find("td").eq(2).html(goods[reqInfo[curReq][r].id]);
                    }
                    $("#editReqBtn").toggleClass('btn-success btn-primary');
                    $("#editReqBtn").prop('value', 'Редактировать');
                }
            });
        }

        function editReq() {
            if ($("#editReqBtn").prop('value') == "Редактировать") {
                $("#goods-body tr").each(function (item) {
                    td = $(this).find("td").eq(2)
                    val = td.text();
                    td.html("<input class='form-control form-control-sm' type='number' value='" + val + "'>");
                });
                $("#editReqBtn").toggleClass('btn-primary btn-success');
                $("#editReqBtn").prop('value', 'Сохранить');
            }
            else {
                data = {};
                $("#goods-body input").each(function (item) {
                    data[reqInfo[curReq][item].id] = $(this).val();
                });
                sendReq(data);
            }
        }

        function getStatus(s, id) {
            var status = "";
            if (s == '3') {
                status = "<td>Отказ</td><td><span style='font-size: 17px;' onclick=\"changeStatus(this, " + id + ")\"><i class='fas fa-edit'></i></span></td>";
            }
            else if (s == '4') {
                status = "<td>Выполнение</td><td></td>";
            }
            else {
                status = "<td>Запрос</td><td><span style='font-size: 17px;'\n" +
                    "                          onclick=\"changeStatus(this, " + id + ")\"><i class='fas fa-edit'></i></span></td>";
            }
            return status;
        }

        function loadReqs(stock) {
            code = "";
            if (isInbox) role = '2';
            else role = '1';
            if (stock == "-1") {
                for (r in reqs) {
                    if (role == reqs[r].role){
                        status = getStatus(reqs[r].access, reqs[r].id);
                    code = code + "<tr id='l-" + r + "' onclick='getDemandGoods(" + r + ")'><td>" + reqs[r].vin + "</td><td>" + reqs[r].date + "</td><td>" + reqs[r].provider + "</td><td>" + reqs[r].consumer + "</td><td>" + reqs[r].donor + "</td><td>" + reqs[r].acceptor + "</td>" + status + "<td>" + reqs[r].user + "</td></tr>";
                }
                }
            }
            else {
                for (r in reqs) {
                    if (reqs[r].donor_id == stock || reqs[r].acceptor_id == stock) {
                        if (role == reqs[r].role) {
                            status = getStatus(reqs[r].access, reqs[r].id);
                            code = code + "<tr id='l-" + r + "' onclick='getDemandGoods(" + r + ")'><td>" + reqs[r].vin + "</td><td>" + reqs[r].date + "</td><td>" + reqs[r].provider + "</td><td>" + reqs[r].consumer + "</td><td>" + reqs[r].donor + "</td><td>" + reqs[r].acceptor + "</td>" + status + "<td>" + reqs[r].user + "</td></tr>";
                        }
                    }
                }
            }
            if (code == "") code = "<tr><td colspan='9' class='no-data'>Нет записей</td></tr>";
            $("#req-body").html(code);
            pag = new Pagination(10, "req-body", "reqNav");
            pag2 = new Pagination(10, "goods-body", "goodsNav");
        }


        function changeStatus(obj, id) {
            if (!reqs[id].isEdited && reqs[id].access != reqs[id].role && reqs[id].access != '0' && reqs[id].access != '3') {
                options = "<option value='0'>Запрос</option><option value='3'>Закрыт</option>";
            }
            else if (reqs[id].isEdited && reqs[id].access == reqs[id].role) {
                options = "<option value='0'>Запрос</option><option value='2'>Отказ</option><option value='3'>Закрыт</option>";
            }
            else if (reqs[id].access == '3') {
                options = "<option value='2'>Отказ</option><option value='3'>Закрыт</option>";
            }
            else {
                options = "<option value='0'>Запрос</option><option value='1'>Выполнение</option><option value='2'>Отказ</option><option value='3'>Закрыт</option>";
            }
            select = obj.parentElement.previousElementSibling;
            text = $(select).text();
            code = "<div class='form-inline'><select class='form-control form-control-sm'>" + options + "</select><span style='font-size: 20px; margin-left:10px; color: yellowgreen; display: inline-block;'\n" +
                "onclick='saveStatus(this.previousElementSibling)'><i class='fas fa-check'></i></span></div>";
            select.innerHTML = code;
            $("option:contains('" + text + "')", select.firstElementChild.firstElementChild).prop("selected", true);
        }

        /*function saveStatus(obj){
            obj.parentElement.parentElement.innerHTML = $("option:selected", obj).text();
            //
        }*/

        function openInf(id, obj) {
            $("#add-" + id).toggle();
            $(obj.firstChild).toggleClass("fa-caret-down fa-caret-up");
        }


    </script>
    <input id="tree_data" value="{{ tree }}" hidden>
    <input id="goods" value="{{ goods }}" hidden>
    <input id="goods_inf" value="{{ goods_inf }}" hidden>
    <input value="{{ stockData }}" id="stock_data" hidden/>
    <input value="{{ units }}" id="units" hidden/>
    <input value="{{ reqs }}" id="reqs" hidden/>
    <div class="container-fluid">
        <input value="{{ count_data }}" id="countData" hidden/>


        <div class="card" style="margin-left: 30px;margin-right: 30px;">
            <div class="card-header">
                <div class="filter">
                    <div class="form-inline" style="float: left">
                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#add_req">
                            Добавить предложение
                        </button>
                        <span style="margin-left: 30px">Склад</span>
                        <select id="curStock" class="form-control inline-el form-control-sm" onchange="loadReqs($(this).val())">
                            <option value="-1">Все</option>
                            {% for s in stocks %}
                                <option value="{{ s.stock.pk }}">{{ s.stock }}</option>
                            {% endfor %}
                        </select>

                    </div>
                <div class="btn-group" style="float: right" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary btn-sm reqBtn" onclick="toggleReqs(this, true)">Входящие</button>
                            <button type="button" class="btn btn-primary btn-sm reqBtn" onclick="toggleReqs(this, false)" disabled>Исходящие</button>
                        </div>
                </div>
            </div>
            <div class="count_table" style="padding-bottom: 0">
                <table class="table table-bordered table-hover table-sm" style="margin-bottom: 0">
                    <thead class="thead" style="text-align: center">
                    <tr>
                        <th scope="col">ВИН</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Поставщик</th>
                        <th scope="col">Потребитель</th>
                        <th scope="col">Донор</th>
                        <th scope="col">Акцептор</th>
                        <th scope="col">Статус</th>
                        <th scope="col"></th>
                        <th scope="col">Создатель</th>
                    </tr>
                    </thead>
                    <tbody id="req-body">

                    </tbody>
                </table>
            </div>
        </div>
    <nav aria-label="..." style="margin-top: 5px; margin-right: 30px">
                <ul class="pagination pagination-sm justify-content-end" id="reqNav">
                </ul>
            </nav>
        <div class="card" style="margin-left: 30px;margin-top: 30px;margin-right: 30px;">
            <h6 class="card-header">
                Номенклатура
                <!--<input style="float: right" onclick="editReq()" type="button" id="editReqBtn" disabled
                       class="btn btn-primary btn-sm" value="Редактировать"/>-->
            </h6>
            <table class="table table-bordered table-sm">
                <thead class="thead" style="text-align: center">
                <tr>
                    <th scope="col">Артикул</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Кол-во</th>
                    <th scope="col">Ед. изм.</th>
                    <!--<th scope="col">Кол-во базовых ед.</th>
                    <th scope="col">Ед. изм. базовая</th>
                    <th scope="col">Остаток</th>-->
                </tr>
                </thead>
                <tbody id="goods-body">
                <tr>
                    <td colspan="6" class="no-data">Нет записей</td>
                </tr>
                </tbody>
            </table>
        </div>
    <nav aria-label="..." style="margin-top: 5px; margin-right: 30px">
                <ul class="pagination pagination-sm justify-content-end" id="goodsNav">
                </ul>
            </nav>
    </div>
    <div class="modal fade" id="add_req">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Создание предложения</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                <form id="form">
                    <div class="form-row">
                        <div class="form-group col-md-6"><h6>Поставщик</h6>
                            <select class="form-control" id="provider" disabled onchange="getStocks('donor')">
                                {% for c in counters %}
                                    {% if c == counter %}
                                    <option value="{{ c.id }}" selected>{{ c.name }}</option>
                                    {% else %}
                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select></div>
                        <div class="form-group col-md-6">
                            <h6>Донор</h6>
                            <select class="form-control" id="donor">
                            </select></div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <h6>Потребитель</h6>
                            <select class="form-control" id="consumer" onchange="getStocks('acceptor')">
                                {% for c in counters %}
                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <h6>Акцептор</h6>
                            <select class="form-control" id="acceptor">
                            </select>
                        </div>
                    </div>
                    <h6>Ожидаемая дата поступления</h6>
                    <input type="date" class="form-control" id="date" required/>
                    <hr>
                    <h6>Товары</h6>
                    <div id="add_goods">
                    </div>
                    <!--<span style='font-size: 20px; color: yellowgreen; display: inline-block; margin-top:10px'
                          onclick="addGoodField()"><i class='fas fa-plus-circle'></i></span>-->
                    <button class="btn add-btn btn-outline-success" onclick="addGoodField();return false;">Добавить</button>
                </form>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="counterBtn" onclick="saveDemand(false)" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="tree-div">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Товары</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body">
                    <ul id="tree" class="goods_tree">

                    </ul>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Выбрать"
                               onclick="setGoodName(inp);$('#tree-div').modal('hide');"
                               id="selectBtn" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
