{% extends 'store/base.html' %}
{% block content %}
    {% load staticfiles %}
    <script>
        var pr = null;
        $(document).ready(function () {
            getProps("0");
            pr = new Property($("#propData").prop("value"));
        });
    </script>
    <div class="container-fluid">
    <input value="{{ prop_data }}" id="propData" hidden/>

                <div class="card" style="margin-left: 30px;margin-right: 30px;">
                    <div class="card-header">
                        <div class="filter">
                            <div class="form-inline">
                        <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#add_prop">Добавить свойство</button>

                                <div class="form-inline" style="position: absolute; right: 0">
                                <lable for="filter" class="col-form-label">Поиск</lable>
                                <input type="search" class="form-control col-sm-9" style="margin-left:10px;width:300px" id="filter"
                                       onchange=""/>
                                <img src="{% static "img/spinner.gif" %}" id="loader" style="width: 30px; display:none">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="goods_table">
                        <table class="table">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">Код</th>
                                <th scope="col">Название</th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                            </thead>
                            <tbody id="goods-body">
                            {% for p in props %}
                                <tr id="{{ p.id }}">
                                    <td>{{ p.id }}</td>
                                    <td>{{ p.name }}</td>
                                    <td style="text-align: right"><button class="btn btn-info" onclick="pr.getInf({{ p.id }})">Редактировать</button></td>
                                    <td style="text-align: left"><button class="btn btn-danger" onclick="delProp(this.parentElement)">Удалить</button></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
        </div>
    </div>
    <div class="modal fade" id="add_prop">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Создание свойства</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <h6>Наименование</h6>
                    <input type="text" class="form-control" id="name"/>
                    <h6>Тип свойства</h6>
                    <select class="form-control" name="type" id="type" onchange="getProps($(this).val());">
                        <option selected value="0">Число</option>
                        <option value="1">Текст</option>
                        <option value="2">Множество</option>
                    </select>
                    <div id="charVal"></div>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="packBtn" onclick="sendProp()" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

     <div class="modal fade" id="inf_prop">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Редактирование свойства</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <h6>Наименование</h6>
                    <input type="text" class="form-control" id="e_name"/>
                    <h6>Тип свойства</h6>
                    <select class="form-control" name="type" id="e_type" disabled>
                        <option value="0">Число</option>
                        <option value="1">Текст</option>
                        <option value="2">Множество</option>
                    </select>
                    <div id="e_charVal"></div>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="editBtn" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
