{% extends 'store/base.html' %}
{% block content %}
    {% load staticfiles %}
    <script>
        var pr = null;
        $(document).ready(function () {
            getProps("0");
            pr = new Property($("#propData").prop("value"));
        });
        function confirmDel(name, obj) {
            $("#delBtn").unbind();
            $("#delBtn").click(function(){
                delProp(obj);
            });
            $("#del-name").text(name);
            $("#del_modal").modal();
        }
    </script>
    <div class="container-fluid">
    <input value="{{ prop_data }}" id="propData" hidden/>

                <div class="card" style="margin-left: 30px;margin-right: 30px;">
                    <div class="card-header">
                        <div class="filter">
                            <div class="form-inline">
                        <button type="button" class="btn btn-success btn-sm"  data-toggle="modal" data-target="#add_prop">Добавить свойство</button>

                            </div>
                        </div>
                    </div>
                    <div class="goods_table">
                        <table class="table table-bordered table-sm">
                            <thead class="thead-light">
                            <tr>
                                <!--<th scope="col">Код</th>-->
                                <th scope="col">Название</th>
                                <th scope="col"></th>

                            </tr>
                            </thead>
                            <tbody id="goods-body">
                            {% for p in props %}
                                <tr id="{{ p.id }}">
                                    <!--<td>{{ p.id }}</td>-->
                                    <td>{{ p.name }}</td>
                                    <td><span
                          onclick="pr.getInf({{ p.id }})"><i class='fas fa-edit' title="Редактировать"></i></span><span onclick="confirmDel('{{ p.name }}', this.parentElement)"><i class='fas fa-trash-alt menu-btn' title="Удалить"></i></span></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
        </div>
    </div>
    <div class="modal fade" id="add_prop">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Создание свойства</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <form id="form">
                    <h6>Наименование</h6>
                    <input type="text" class="form-control" id="name" required/>
                    <h6>Тип свойства</h6>
                    <select class="form-control" name="type" id="type" onchange="getProps($(this).val());">
                        <option selected value="0">Число</option>
                        <option value="1">Текст</option>
                        <option value="2">Множество</option>
                        <option value="3">Вычислимое</option>
                    </select>
                    <div id="charVal"></div>
                    </form>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="packBtn" onclick="sendProp()" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

     <div class="modal fade" id="inf_prop">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Редактирование свойства</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <h6>Наименование</h6>
                    <input type="text" class="form-control" id="e_name"/>
                    <h6>Тип свойства</h6>
                    <select class="form-control" name="type" id="e_type" disabled>
                        <option value="0">Число</option>
                        <option value="1">Текст</option>
                        <option value="2">Множество</option>
                        <option value="3">Вычислимое</option>
                    </select>
                    <div id="e_charVal"></div>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="editBtn" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="del_modal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Удаление свойства</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <h6>Удалить <span id="del-name"></span>?</h6>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Удалить" id="delBtn" onclick="" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
