{% extends 'store/base.html' %}
{% block content %}
    {% load staticfiles %}
    <script>
        var selected = 0;
        var goods_inf = null;
        var inp = null;
        var tr = null;
        var goods = null;
        var units = null;
        var stocks = null;
        var reqInfo = {};
        $(document).ready(function () {
            //goods = JSON.parse(JSON.parse($("#stockData").prop("value")));
            //addStock();
            goods = JSON.parse($("#goods").prop("value"));
            goods_inf = JSON.parse($("#goods_inf").prop("value"));
            tree = JSON.parse($("#tree_data").prop("value"));
            tr = new GTree(tree, "goods");
            document.getElementById("1").click();
            units = JSON.parse($("#units").prop("value"));
            stocks = JSON.parse($("#stock_data").prop("value"));
            addGoodField();
        });





        function changeStatus(obj){
            select = obj.parentElement.previousElementSibling;
            text = $(select).text();
            code = "<div class='form-inline'><select class='form-control form-control-sm'><option value='3'>Запрос</option><option value='2'>Закрыт</option><option value='1'>Выполнение</option><option value='0'>Отказ</option></select><span style='font-size: 20px; margin-left:10px; color: yellowgreen; display: inline-block;'\n" +
                "onclick='saveStatus(this.previousElementSibling)'><i class='fas fa-check'></i></span></div>";
            select.innerHTML = code;
            $("option:contains('"+ text +"')", select.firstElementChild.firstElementChild).prop("selected", true);
        }

        /*function saveStatus(obj){
            obj.parentElement.parentElement.innerHTML = $("option:selected", obj).text();
            //
        }*/

        function openInf(id, obj){
            $("#add-" + id).toggle();
            $(obj.firstChild).toggleClass("fa-caret-down fa-caret-up");
        }



    </script>
    <input id="tree_data" value="{{ tree }}" hidden>
    <input id="goods" value="{{ goods }}" hidden>
    <input id="goods_inf" value="{{ goods_inf }}" hidden>
    <input value="{{ stockData }}" id="stock_data" hidden/>
    <input value="{{ units }}" id="units" hidden/>
    <div class="container-fluid">
        <input value="{{ count_data }}" id="countData" hidden/>

        <div class="card" style="margin-left: 30px;margin-right: 30px;" >
            <div class="card-header">
                <div class="filter">
                    <div class="form-inline">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_req">
                            Добавить перемещение
                        </button>

                        <div class="form-inline" style="position: absolute; right: 0">
                            <lable for="filter" class="col-form-label">Поиск</lable>
                            <input type="search" class="form-control col-sm-9" style="margin-left:10px;width:300px"
                                   id="filter"
                                   onchange=""/>
                            <img src="{% static "img/spinner.gif" %}" id="loader" style="width: 30px; display:none">
                        </div>
                    </div>
                </div>
            </div>
            <div class="count_table" style="padding-bottom: 0">
                <table class="table table-bordered table-hover" style="margin-bottom: 0">
                    <thead class="thead-light">
                    <tr>
                        <th></th>
                        <th scope="col">Дата</th>
                        <th scope="col">Номер</th>
                        <th scope="col">Поставщик</th>
                        <th scope="col">Потребитель</th>
                        <th scope="col">Донор</th>
                        <th scope="col">Акцептор</th>
                        <th scope="col">Статус</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="req-body">
                        {% for r in reqs %}
                            <tr onclick="getDemandGoods({{ r.pk }})" id="l-{{ r.pk }}">
                            {% if r.status == '1' %}
                            <td align="center"><span style='font-size: 20px; color: green'
                          onclick="openInf({{ r.pk }}, this)"><i class='fas fa-caret-down'></i></span></td>
                                {% else %}
                                <td align="center"><span style='font-size: 20px; color: darkgray'><i class='fas fa-caret-down'></i></span></td>
                                {% endif %}
                            <td>{{ r.date|date:"d.m.Y" }}</td>
                            <td>{{ r.pk }}</td>
                            <td>{{ r.provider }}</td>
                            <td>{{ r.consumer }}</td>
                            <td>{{ r.donor|default_if_none:"-" }}</td>
                            <td>{{ r.acceptor|default_if_none:"-" }}</td>
                            <td>{{ r.matrix.get_access_display }}</td>
                            <td><span style='font-size: 17px;'
                          onclick="changeStatus(this)"><i class='fas fa-edit'></i></span></td>
                            </tr>
                            <tr class="table-sub"  id="add-{{ r.pk }}"><td colspan="9"><div class="add-info">
                                <div class="form-row">
                        <div class="form-group col-md-2"><h8>Ожидаемая дата расхода</h8>
                            <input type="date" class="form-control form-control-sm good-item"  value="{{ r.release_date|date:"Y-m-d" }}"/>
                            </div>
                        <div class="form-group col-md-2">
                            <h8>Ожидаемая дата прихода</h8>
                            <input type="date" class="form-control form-control-sm good-item" value="{{ r.finish_date|date:"Y-m-d" }}"/>
                            </div>


                    </div>
                                <button class="btn btn-info" onclick="openSupply({{ r.pk }})">Получить поставку</button>

                            </div></td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card" style="margin-left: 30px;margin-top: 30px;margin-right: 30px;">
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Артикул</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Кол-во операционное</th>
                    <th scope="col">Ед. изм. операционная</th>
                    <th scope="col">Кол-во базовых ед.</th>
                    <th scope="col">Ед. изм. базовая</th>
                    <th scope="col">Остаток</th>
                </tr>
                </thead>
                <tbody id="goods-body">
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="add_req">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Создание требования</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <div class="form-row">
                        <div class="form-group col-md-6"><h6>Поставщик</h6>
                            <select class="form-control" id="provider" onchange="getStocks('donor')">
                                {% for c in counters %}
                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                {% endfor %}
                            </select></div>
                        <div class="form-group col-md-6">
                            <h6>Донор</h6>
                            <select class="form-control" id="donor">
                            </select></div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <h6>Потребитель</h6>
                            <select class="form-control" id="consumer" onchange="getStocks('acceptor')">
                                {% for c in counters %}
                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <h6>Акцептор</h6>
                            <select class="form-control"  id="acceptor">
                            </select>
                        </div>
                    </div>
                    <h6>Ожидаемая дата поступления</h6>
                    <input type="date" class="form-control" id="date"/>
                    <hr>
                    <h6>Товары</h6>
                    <div id="add_goods">
                    </div>
                    <!--<span style='font-size: 20px; color: yellowgreen; display: inline-block; margin-top:10px'
                          onclick="addGoodField()"><i class='fas fa-plus-circle'></i></span>-->
                    <button class="btn add-btn btn-outline-success" onclick="addDots();addGoodField()">Добавить</button>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="counterBtn" onclick="saveDemand()" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="inf_prop">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Редактирование свойства</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <h6>Наименование</h6>
                    <input type="text" class="form-control" id="e_name"/>
                    <h6>Тип свойства</h6>
                    <select class="form-control" name="type" id="e_type" disabled>
                        <option value="0">Число</option>
                        <option value="1">Текст</option>
                        <option value="2">Множество</option>
                    </select>
                    <div id="e_charVal"></div>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="editBtn" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="tree-div">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Товары</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body">
                    <ul id="tree" class="goods_tree">

                    </ul>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Выбрать"
                               onclick="setGoodName(inp);$('#tree-div').modal('hide');"
                               id="selectBtn" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="supply">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Поставка</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Артикул</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Поставка, кол-во</th>
                </tr>
                </thead>
                <tbody id="supply-body">
                </tbody>
            </table>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Оформить"
                               onclick=""
                               id="supplyBtn" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
