{% extends 'store/base.html' %}
{% block content %}
    {% load staticfiles %}
    <script>
    var goods_inf = null;
        var inp = null;
        var tr = null;
        var goods = null;
        var units = null;
        var stocks = null;
        //var goods_json = null;
        var stock_inf = null;
        var selected = 0;
        var inp = null;
        var reqs = {};
        var reqInfo = {};
        var curReq = null;
        var isSupply = false;
        var isDonor = false;
        $(document).ready(function () {
            //goods = JSON.parse(JSON.parse($("#stockData").prop("value")));
            //addStock();
            goods = JSON.parse($("#goods").prop("value"));
            stock_inf = JSON.parse($("#stock_inf").prop("value"));
            //goods_json = JSON.parse($("#goods_json").prop("value"));
            goods_inf = JSON.parse($("#goods_inf").prop("value"));
            tree = JSON.parse($("#tree_data").prop("value"));
            tr = new GTree(tree, "goods");
            $("#1")[0].click();
            units = JSON.parse($("#units").prop("value"));
            stocks = JSON.parse($("#stock_data").prop("value"));
            addGoodField();
            getStocks('acceptor');

            reqs = JSON.parse($("#reqs").prop("value"));
            reqs = Object.values(reqs).reverse();
            loadReqs("-1");
            pag = new Pagination(10, "req-body", "reqNav");
            pag2 = new Pagination(10, "goods-body", "goodsNav");
            $('#date').val(new Date().toDateInputValue());
            /*$('#demand_table').stacktable();
            $('#demand_goods').stacktable();*/
        });

        function formatDate(date) {

            var dd = date.getDate();
            if (dd < 10) dd = '0' + dd;

            var mm = date.getMonth();
            if (mm < 10) mm = '0' + mm;

            var yy = date.getFullYear();

            return yy + "-" + mm + "-" + dd;
        }

        function saveDate(obj, id, t) {
            var date = $(obj).prop('value');
            var pk = reqs[id].id;
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                type: "POST",
                url: 'save_date/',
                data: {
                    'date': date,
                    'id': pk,
                    't': t
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function onAjaxSuccess(date) {
                    var btn = "<span style='font-size: 17px; float:right' onclick=\"changeDate(this, " + t + ")\"><i class='fas fa-edit'></i></span>";
                    $(obj).parent().parent().html(date + btn);
                }
            });
        }

        function changeDate(btn, t) {
            id = $(btn).parent().parent().prop('id').substr(2);
            if (t == 0) {
                textDate = reqs[id].release_date;
            }
            else {
                textDate = reqs[id].finish_date;
            }
            date = new Date(textDate.substr(6, 4), textDate.substr(3, 2), textDate.substr(0, 2));
            valDate = formatDate(date);
            saveBtn = "<span style='font-size: 20px; margin-left:10px; color: yellowgreen; display: inline-block;' onclick='saveDate(this.previousElementSibling, " + id + ", " + t + ")'><i class='fas fa-check'></i></span></div>";
            $(btn).parent().html("<div class='form-inline'><input type='date' class='form-control form-control-sm'  value='" + valDate + "' />" + saveBtn);
        }

        function addEditBtns() {
            var btn = "<span style=' float:right' onclick=\"changeDate(this, 0)\"><i class='fas fa-edit'></i></span>";
            $("#req-body tr").each(function (item) {
                //условие отображения кнопки
                id = $(this).prop('id').substr(2);
                if (id != ""){
                td = $(this).find('td').eq(3).html();
                if (reqs[id].role == '1'){
                    $(this).find('td').eq(3).html(td + btn);
                    btn = "<span style=' float:right' onclick=\"changeDate(this, 1)\"><i class='fas fa-edit'></i></span>";
                    td = $(this).find('td').eq(5).html();
                    $(this).find('td').eq(5).html(td + btn);
                }
                }
            });
        }

        function loadReqs(stock) {
            code = "";
            if (stock == "-1") {
                for (r in reqs) {
                    code = code + "<tr id='l-" + r + "' onclick='getDemandGoods(" + r + ", \"s\")'><td>" + reqs[r].vin + "</td><td>" + reqs[r].date + "</td><td>" + reqs[r].donor + "</td><td>" + reqs[r].release_date + "</td><td>" + reqs[r].cause + " "  + reqs[r].acceptor + "</td><td>" + reqs[r].finish_date + "</td><td>" + reqs[r].user + "</td><td><i title='Завершить отпуск' class='far fa-check-square' onclick='endShipment(" + r + ")'></i></td><td><span onclick='confirmDel(" + r + ", this.parentElement)'><i class='fas fa-trash-alt menu-btn' title='Удалить'></i></span></td></tr>";
                }
            }
            else {
                for (r in reqs) {
                    if (reqs[r].donor_id == stock || reqs[r].acceptor_id == stock) {
                        code = code + "<tr id='l-" + r + "' onclick='getDemandGoods(" + r + ", \"s\")'><td>" + reqs[r].vin + "</td><td>" + reqs[r].date + "</td><td>" + reqs[r].donor + "</td><td>" + reqs[r].release_date + "</td><td>" + reqs[r].cause + " " + reqs[r].acceptor + "</td><td>" + reqs[r].finish_date + "</td><td>" + reqs[r].user + "</td><td><i title='Завершить отпуск' class='far fa-check-square' onclick='endShipment(" + r + ")'></i></td><td><span onclick='confirmDel(" + r + ", this.parentElement)'><i class='fas fa-trash-alt menu-btn' title='Удалить'></i></span></td></tr>";
                    }
                }
            }
            if (code == "") code = "<tr><td colspan='9' class='no-data'>Нет записей</td></tr>";
            $("#req-body").html(code);
            addEditBtns();
            pag = new Pagination(10, "req-body", "reqNav");
            pag2 = new Pagination(10, "goods-body", "goodsNav");
        }

        function confirmDel(id, obj) {
            $("#delBtn").unbind();
            $("#delBtn").click(function(){
                delOperation(obj);
            });
            var name = reqs[id].vin;
            $("#del-name").text(name);
            $("#del_modal").modal();
        }

        function openInf(id, obj) {
            $("#add-" + id).toggle();
            $(obj.firstChild).toggleClass("fa-caret-down fa-caret-up");
        }


        function openInf(id, obj) {
            $("#add-" + id).toggle();
            $(obj.firstChild).toggleClass("fa-caret-down fa-caret-up");
        }


    </script>
    <input value="{{ reqs }}" id="reqs" hidden/>
     <input id="tree_data" value="{{ tree }}" hidden>
        <input id="goods" value="{{ goods }}" hidden>
        <input id="goods_inf" value="{{ goods_inf }}" hidden>
        <input value="{{ stockData }}" id="stock_data" hidden/>
        <input value="{{ units }}" id="units" hidden/>
    <input value="{{ stock_inf }}" id="stock_inf" hidden/>
    <input id="goods_json" value="{{ goods_json }}" hidden>
    <div class="container-fluid">

        <div class="card">
            <div class="card-header">
            <div class="form-inline">
            <button type="button" class="btn btn-success btn-sm inline-el"
                                onclick="$('#add_supply').modal();$('#add_supply').modal('handleUpdate');">
                            Создать отпуск
                        </button>
                <div class="filter inline-el">
                    <div class="form-inline">
                        <span class="inline-el">Склад</span>
                        <select class="form-control inline-el form-control-sm" onchange="loadReqs($(this).val())">
                            <option value="-1">Все</option>
                            {% for s in stocks %}
                                <option value="{{ s.stock.pk }}">{{ s.stock }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            </div>
            <div class="count_table table-responsive-sm" style="padding-bottom: 0">
                <table id="demand_table" class="table table-bordered table-hover table-sm" style="margin-bottom: 0">
                    <thead class="thead-light" style="text-align: center">
                    <tr>
                        <th scope="col">ВИН</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Отправитель</th>
                        <th scope="col">Ожидаемая дата отпуска</th>
                        <th scope="col">Получатель</th>
                        <th scope="col">Ожидаемая дата получения</th>
                        <th scope="col">Создатель</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="req-body">

                    </tbody>
                </table>
            </div>
        </div>
    <nav class="nav-pages" aria-label="...">
                <ul class="pagination pagination-sm justify-content-end" id="reqNav">
                </ul>
            </nav>
        <div class="card" style="margin-top: 30px;">
            <h6 class="card-header">
                Номенклатура
                <!--<input style="float: right; margin-left: 10px"  type="button" id="endShipmentBtn" onclick="endShipment()" disabled
                       class="btn btn-danger btn-sm" value="Завершить отпуск"/>-->
                <input style="float: right"  type="button" id="makeShipmentBtn" onclick="openSupply(true)" disabled
                       class="btn btn-info btn-sm" value="Отпустить"/>

            </h6>
            <table id="demand_goods" class="table table-bordered table-sm  table-responsive-sm">
                <thead class="thead-light" style="text-align: center">
                <tr>
                    <th scope="col">Артикул</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Кол-во</th>
                    <th scope="col">Ед. изм.</th>
                    <!--<th scope="col">Кол-во базовых ед.</th>
                    <th scope="col">Ед. изм. базовая</th>-->
                    <th scope="col">Остаток</th>
                </tr>
                </thead>
                <tbody id="goods-body">
                <tr>
                    <td colspan="7" class="no-data">Нет записей</td>
                </tr>
                </tbody>
            </table>
        </div>
    <nav class="nav-pages" aria-label="...">
                <ul class="pagination pagination-sm justify-content-end" id="goodsNav">
                </ul>
            </nav>
    </div>



    <div class="modal fade" id="supply">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Отпуск</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Артикул</th>
                            <th scope="col">Наименование</th>
                            <th scope="col">Кол-во</th>
                        </tr>
                        </thead>
                        <tbody id="supply-body">
                        </tbody>
                    </table>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Оформить"
                               onclick=""
                               id="supplyBtn" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_supply">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="supplyTitle">Создание отпуска</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                <form id="form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <h6 id="counterLabel">Контрагент</h6>
                            <select class="form-control" id="consumer" disabled onchange="getStocks('acceptor')">
                                {% for c in counters %}
                                    {% if c == counter %}
                                        <option value="{{ c.id }}" selected>{{ c.name }}</option>
                                    {% else %}
                                        <option value="{{ c.id }}">{{ c.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <h6>Склад</h6>
                            <select class="form-control" id="acceptor" required>
                            </select>
                        </div>
                    </div>
                    <h6 id="dateLabel">Дата отгрузки</h6>
                    <input type="date" class="form-control" id="date" required/>
                    <h6>Основание</h6>
                            <select class="form-control" id="cause" required>
                                {% for key, values in causes.items %}
                                    <option value="{{ key }}">{{ values.name }}</option>
                                {% endfor %}
                            </select>
                    <hr>
                    <h6>Товары</h6>
                    <div id="add_goods">
                    </div>
                    <!--<span style='font-size: 20px; color: yellowgreen; display: inline-block; margin-top:10px'
                          onclick="addGoodField()"><i class='fas fa-plus-circle'></i></span>-->
                    <button class="btn add-btn btn-outline-success" onclick="addGoodField();return false;">Добавить</button>
                    </form>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="saveSupplyBtn" onclick="saveSupply()" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="tree-div">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Товары</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body">
                    <ul id="tree" class="goods_tree">

                    </ul>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Выбрать"
                               onclick="setGoodName(inp);$('#tree-div').modal('hide');"
                               id="selectBtn" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="del_modal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Удаление отпуска</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <h6>Удалить <span id="del-name"></span>?</h6>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Удалить" id="delBtn" onclick="" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
