{% extends 'store/base.html' %}
{% block content %}
    {% load staticfiles %}
    <script>
        var goods_inf = null;
        var inp = null;
        var tr = null;
        var goods = null;
        var units = null;
        var stocks = null;
        var operations = null;
        var isSupply = true;
        var inventoryGoods = null;
        var goods_json = null;
        $(document).ready(function () {
            operations = JSON.parse($("#operations_json").prop("value"));
            goods = JSON.parse($("#goods").prop("value"));
            goods_json = JSON.parse($("#goods_json").prop("value"));
            goods_inf = JSON.parse($("#goods_inf").prop("value"));
            tree = JSON.parse($("#tree_data").prop("value"));
            tr = new GTree(tree, "goods");
            document.getElementById("1").click();
            units = JSON.parse($("#units").prop("value"));
            stocks = JSON.parse($("#stock_data").prop("value"));
            addGoodField();
            getStocks('acceptor');
        });

        function openModalSupply() {
            if (isSupply) {
                $("#supplyTitle").text("Создание поставки");
                $("#counterLabel").text("Потребитель");
                $("#dateLabel").text("Дата поставки");
            }
            else {
                $("#supplyTitle").text("Выбытие");
                $("#counterLabel").text("Поставщик");
                $("#dateLabel").text("Дата выбытия");
            }
            $("#add_supply").modal();
        }

        function getOperationGoods(id) {
            code = "";
            var diffr = "";
            var repProds = "";
            for (row in operations[id]) {
                if (operations[id]['operation'] == "Коррекция") {
                    diffr = "<td>" + operations[id][row]['diffr'] + "</td>";
                    if (!isNaN(row)) repProds = repProds + "<tr><td>" + operations[id][row]["article"] + "</td><td>" + operations[id][row]["name"] + "</td><td>" + operations[id][row]["amount"] + "</td><td>" + operations[id][row]["unit"] + "</td><td>" + operations[id][row]["cost"] + "</td>" + diffr + "</tr>";
                }
                if (!isNaN(row)) code = code + "<tr><td>" + operations[id][row]["article"] + "</td><td>" + operations[id][row]["name"] + "</td><td>" + operations[id][row]["amount"] + "</td><td>" + operations[id][row]["unit"] + "</td><td>" + operations[id][row]["cost"] + "</td></tr>";
            }
            $("#goods-body").html(code);
            $(".table-selected").removeClass("table-selected");
            $("#" + id).addClass("table-selected");
            $("#tableName").text(operations[id]['operation'] + " № " + operations[id]['vin']);
            if (operations[id]['operation'] == "Приход") {
                $("#orderHeader").text("Приходный ордер № " + operations[id]['vin']);
            }
            else if (operations[id]['operation'] == "Расход"){
                $("#orderHeader").text("Расходный ордер № " + operations[id]['vin']);
            }
            else {
                $("#reportHeader").text("Инвентаризационный акт № " + operations[id]['vin']);
                $("#repDate").text('Дата: ' + operations[id]['date']);
                $("#repStock").text('Склад: ' + operations[id]['stock']);
                $("#repProds").html(repProds);
                $("#reportName").text(operations[id]['operation'] + " № " + operations[id]['vin']);
            }
            $("#ordDate").text('Дата: ' + operations[id]['date']);
            $("#ordStock").text('Склад: ' + operations[id]['stock']);
            $("#prods").html(code);
        }

        function addProd(){
            id = $("#newProd").prop('name');
            code = "<tr id='" + id + "'><td>" + goods_json[id].article + "</td><td>" + goods_json[id].name + "</td><td>" + goods_json[id].unit + "</td><td><input type='number' name='amount' class='form-control form-control-sm short-input' /></td><td><input type='number' name='cost' class='form-control form-control-sm short-input' /></td><td><span onclick='this.parentElement.parentElement.remove()' style='font-size: 14pt; color:gray'><i class=\"fas fa-trash-alt\"></i></span></td></tr>";
            $(code).appendTo("#inventoryProds");
        }

        function changeOperGroup(group) {
            stock = $("#stock").val();
            code = "";
            for (row in operations) {
                if ((operations[row]['operation'] == group || group == "Все операции") && (operations[row]['stock_id'] == stock || stock == "-1")) {
                    code = code + "<tr id=" + row + " onclick=\"getOperationGoods('" + row + "')\"><td>" + operations[row]['vin'] + "</td><td>" + operations[row]['date'] + "</td><td>" + operations[row]['operation'] + "</td><td>" + operations[row]['stock'] + "</td><td><span onclick=\"$('#order').modal()\"><i class=\"fas fa-file-alt\"></i> Ордер</span></td></tr>";
                }
            }
            if (code == "") code = "<tr><td colspan=4 align='center' class='no-data'>Нет записей</td></tr>";
            goodsCode = "<tr><td colspan=5 align='center'>Нет записей</td></tr>";
            $("#goods-body").html(goodsCode);
            $("#op-body").html(code);
        }

    </script>
    <div class="container-fluid pg">
        <input id="tree_data" value="{{ tree }}" hidden>
        <input id="goods" value="{{ goods }}" hidden>
        <input id="goods_inf" value="{{ goods_inf }}" hidden>
        <input value="{{ stockData }}" id="stock_data" hidden/>
        <input value="{{ units }}" id="units" hidden/>
        <input id="operations_json" value="{{ operations_json }}" hidden>
        <input id="goods_json" value="{{ goods_json }}" hidden>
        <div class="card" style="margin-left: 30px;margin-right: 30px;">
            <div class="card-header">
                <div class="filter">
                    <div class="form-inline">
                        <button type="button" class="btn btn-success inline-el btn-sm"
                                onclick="isSupply=true;openModalSupply()">
                            Поставка
                        </button>
                        <button type="button" class="btn btn-danger inline-el btn-sm"
                                onclick="isSupply=false;openModalSupply()">
                            Выбытие
                        </button>
                        <button type="button" class="btn btn-warning inline-el btn-sm"
                                onclick="getStockGoods($('#stock').val())">
                            Инвентаризация
                        </button>
                        <span>Склад</span>
                        <select id="stock" class="form-control inline-el form-control-sm"
                                onchange="changeOperGroup($('#group option:selected').text())">
                            <option value="-1">Все</option>
                            {% for s in stocks %}
                                <option value="{{ s.stock.pk }}">{{ s.stock }}</option>
                            {% endfor %}
                        </select>
                        <div class="form-inline" style="position: absolute; right: 0">
                            <lable for="filter" class="col-form-label">Фильтр</lable>
                            <select class="form-control col-sm-9 form-control-sm" id="group"
                                    style="margin-left:10px;width:300px"
                                    id="filter"
                                    onchange="changeOperGroup($('option:selected', this).text())">
                                <option value="0">Все операции</option>
                                <option value="1">Приход</option>
                                <option value="2">Расход</option>
                                <option value="3">Коррекция</option>
                            </select>
                            <img src="{% static "img/spinner.gif" %}" id="loader" style="width: 30px; display:none">
                        </div>
                    </div>
                </div>
            </div>
            <div class="count_table" style="padding-bottom: 0">
                <table class="table table-bordered table-hover table-sm" style="margin-bottom: 0">
                    <thead class="thead-light" style="text-align: center">
                    <tr>
                        <th scope="col">ВИН</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Основание</th>
                        <th scope="col">Склад</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="op-body">
                    {% for key, values in operations.items %}
                        <tr id="{{ key }}" onclick="getOperationGoods('{{ key }}')">
                            <td>{{ values.vin }}</td>
                            <td>{{ values.date }}</td>
                            <td>{{ values.operation }}</td>
                            <td>{{ values.stock|default_if_none:"-" }}</td>
                            {% if values.operation == "Коррекция" %}
                                <td><span onclick="$('#report').modal()"><i class="fas fa-file-alt"></i> Акт</span></td>
                            {% else %}
                                <td><span onclick="$('#order').modal()"><i class="fas fa-file-alt"></i> Ордер</span></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <div class="card" style="margin-left: 30px;margin-top: 30px;margin-right: 30px;">
            <table class="table table-bordered table-sm">
                <thead class="thead-light" style="text-align: center">
                <tr>
                    <th scope="col">Артикул</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Кол-во</th>
                    <th scope="col">Ед. изм. операционная</th>
                    <th scope="col">Цена</th>
                </tr>
                </thead>
                <tbody id="goods-body">
                <tr>
                    <td colspan=5 align='center'>Нет записей</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



    <div class="modal fade" id="add_supply">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="supplyTitle">Создание поставки</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <h6 id="counterLabel">Потребитель</h6>
                            <select class="form-control" id="consumer" readonly onchange="getStocks('acceptor')">
                                {% for c in counters %}
                                    {% if c == counter %}
                                        <option value="{{ c.id }}" selected>{{ c.name }}</option>
                                    {% else %}
                                        <option value="{{ c.id }}">{{ c.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <h6>Склад</h6>
                            <select class="form-control" id="acceptor">
                            </select>
                        </div>
                    </div>
                    <h6 id="dateLabel">Дата поступления</h6>
                    <input type="date" class="form-control" id="date"/>
                    <hr>
                    <h6>Товары</h6>
                    <div id="add_goods">
                    </div>
                    <!--<span style='font-size: 20px; color: yellowgreen; display: inline-block; margin-top:10px'
                          onclick="addGoodField()"><i class='fas fa-plus-circle'></i></span>-->
                    <button class="btn add-btn btn-outline-success" onclick="addDots();addGoodField()">Добавить</button>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="counterBtn" onclick="saveSupply()" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="modal fade" id="tree-div">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Товары</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body">
                    <ul id="tree" class="goods_tree">

                    </ul>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Выбрать"
                               onclick="setGoodName(inp);$('#tree-div').modal('hide');"
                               id="selectBtn" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="modal fade" id="order" class="pg">
        <div class="modal-dialog modal-lg pg1">
            <div class="modal-content pg1">
                <div class="modal-header pg">
                    <h5 id="tableName" class="pg">Акт №</h5>
                    <button class="close pg" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body passport">
                    <b>
                        <div id="orderHeader" class="text14">Приходный ордер №</div>
                    </b>
                    <div id="ordDate" class="text12">Дата: 01.01.1999</div>
                    <div id="ordStock" class="text12">Склад: Склад 1</div>
                    <table class="table table-hover table-condensed table-bordered table-sm">
                        <thead style="text-align: center">
                        <tr>
                            <th>Артикул</th>
                            <th>Наименование</th>
                            <th>Кол-во</th>
                            <th>Ед. изм.</th>
                            <th>Стоимость</th>
                        </tr>
                        </thead>
                        <tbody id="prods">

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer pg">
                    <button id="printBtn" type="button" class="btn btn-info" onclick="window.print();">Печать</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="report" class="pg">
        <div class="modal-dialog modal-lg pg1">
            <div class="modal-content pg1">
                <div class="modal-header pg">
                    <h5 id="reportName" class="pg">Акт №</h5>
                    <button class="close pg" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body passport">
                    <b>
                        <div id="reportHeader" class="text14">Инвентаризационный акт №</div>
                    </b>
                    <div id="repDate" class="text12">Дата: 01.01.1999</div>
                    <div id="repStock" class="text12">Склад: Склад 1</div>
                    <table class="table table-hover table-condensed table-bordered table-sm">
                        <thead style="text-align: center">
                        <tr>
                            <th>Артикул</th>
                            <th>Наименование</th>
                            <th>Кол-во</th>
                            <th>Ед. изм.</th>
                            <th>Цена</th>
                            <th>Разница</th>
                        </tr>
                        </thead>
                        <tbody id="repProds">

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer pg">
                    <button id="printBtn" type="button" class="btn btn-info" onclick="window.print();">Печать</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="inventory">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Инвентаризция</h5>
                    <button class="close" data-dismiss="modal">x</button>
                </div>
                <div class="modal-body">
                    <h6 id="dateLabel">Дата инвентаризации</h6>
                    <input type="date" class="form-control short-input" id="inventoryDate"/>
                    <hr>
                    <table class="table table-bordered table-sm small-table" style="text-align: center">
                        <thead style="text-align: center" class="thead-light">
                        <tr>
                            <th>Артикул</th>
                            <th>Наименование</th>
                            <th>Ед. изм.</th>
                            <th>Кол-во</th>
                            <th>Цена</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody id="inventoryProds">

                        </tbody>
                    </table>
                    <hr>
                    <div class='form-row good-item inline-el'>
                       <div class='form-inline'>
                                Добавить товар
                                <div class='autocomplete inline-el' style='width:335px;'>
                                    <input id='newProd' style='width:335px;'
                                           class='form-control form-control-sm  goodInp' type='text' name='myCountry'>
                                </div>
                                <button class='btn btn-outline-info'
                                        onclick='inp = this.previousSibling.previousSibling.firstChild.nextSibling;'
                                        data-toggle='modal' data-target='#tree-div'><span style='font-size: 15px;'
                                                                                          onclick=''><i
                                        class='fas fa-stream'></i></span></button>
                                <button class='btn btn-success inline-el btn-sm' onclick="addProd()">Добавить</button>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button id="inventoryBtn" type="button" class="btn btn-info" onclick="saveInventory($('#stock').val())">Сохранить</button>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="tree-div">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Товары</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body">
                    <ul id="tree" class="goods_tree">

                    </ul>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Выбрать"
                               onclick="setGoodName(inp);$('#tree-div').modal('hide');"
                               id="selectBtn" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
