{% extends 'store/base.html' %}
{% block content %}
    {% load staticfiles %}
    <script>
        var tr = null;
        var tree = {};
        var goods = null;
        var goodInfo = {};
        $(document).ready(function () {
            tree = JSON.parse($("#tree_data").prop("value"));
            goods = JSON.parse($("#goods_json").prop("value"));
            /*units = JSON.parse(JSON.parse($("#units").prop("value")));
            //var goods = JSON.parse($("#goods_data").prop("value"));*/
            tr = new STree(tree);
            //addUnit();
            //addProp();
            document.getElementById("1").click();
        });

    </script>
        <input id="tree_data" value="{{ tree }}" hidden>
    <input id="goods_data" value="{{ goods }}" hidden>
    <input value="{{ goods_json }}" id="goods_json" hidden/>
    <input value="{{ prop_vars }}" id="prop_vars" hidden/>
    <div class="container-fluid">
        <div class="row">
            <div class="left-column goods-tree-container">

                <div class="card">
                    <div class="card-header" style="height: 55px">
                        <h5>Группы</h5>
                    </div>
                    <ul id="tree" class="goods_tree">

                    </ul>

                </div>


            </div>
            <div class="right-column">

                <div class="card" style="margin-left: 30px;margin-right: 30px;">
                    <div class="card-header">
                        <div class="filter">
                            <div class="form-inline">Склад
                                <select class="form-control inline-el form-control-sm" id="stock" onchange="tr.changeStockGroup()">
                                    {% for s in stocks %}
                                        <option value="{{ s.pk }}">{{ s.name }}</option>
                                    {% endfor %}
                                </select>
                            <span>Период</span>
                        <select id="period" class="form-control inline-el form-control-sm"
                                onchange="changePeriod()">
                            <option value="0">Все</option>
                            <option value="1">День</option>
                            <option value="2">Неделя</option>
                            <option value="3">Месяц</option>
                            <option value="4">Год</option>
                        </select>

                                <div class="form-inline" style="position: absolute; right: 0">
                                    <lable for="filter" class="col-form-label">Поиск</lable>
                                    <input type="search" class="form-control form-control-sm col-sm-9"
                                           style="margin-left:10px;width:300px" id="filter"
                                           oninput="tr.searchProd($(this).prop('value'));"/>
                                    <img src="{% static "img/spinner.gif" %}" id="loader"
                                         style="width: 30px; display:none">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="goods_table">
                        <table class="table table-bordered table-sm">
                            <thead class="thead thead-light" style="text-align: center">
                            <tr>
                                <th></th>
                                <th scope="col">Код</th>
                                <th scope="col">Название</th>
                                <th scope="col">Учётная ед. изм.</th>
                                <th scope="col">Количество</th>
                                <th scope="col">Учётная стоимость</th>
                            </tr>
                            </thead>
                            <tbody id="goods-body">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}
