{% extends 'store/base.html' %}
{% block content %}
    {% load staticfiles %}
    <script>
        var selected = 0;
        var inp = null;
        var reqs = {};
        var reqInfo = {};
        var curReq = null;
        $(document).ready(function () {
            //goods = JSON.parse(JSON.parse($("#stockData").prop("value")));
            //addStock();
            reqs = JSON.parse($("#reqs").prop("value"));
            loadReqs("-1");
        });

        function formatDate(date) {

            var dd = date.getDate();
            if (dd < 10) dd = '0' + dd;

            var mm = date.getMonth();
            if (mm < 10) mm = '0' + mm;

            var yy = date.getFullYear();

            return yy + "-" + mm + "-" + dd;
        }

        function saveDate(obj, id, t) {
            var date = $(obj).prop('value');
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                type: "POST",
                url: 'save_date/',
                data: {
                    'date': date,
                    'id': id,
                    't': t
                },
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function onAjaxSuccess(date) {
                    var btn = "<span style='font-size: 17px; float:right' onclick=\"changeDate(this, " + t + ")\"><i class='fas fa-edit'></i></span>";
                    $(obj).parent().parent().html(date + btn);
                }
            });
        }

        function changeDate(btn, t) {
            id = $(btn).parent().parent().prop('id').substr(2);
            if (t == 0) {
                textDate = reqs[id].release_date;
            }
            else {
                textDate = reqs[id].finish_date;
            }
            date = new Date(textDate.substr(6, 4), textDate.substr(3, 2), textDate.substr(0, 2));
            valDate = formatDate(date);
            saveBtn = "<span style='font-size: 20px; margin-left:10px; color: yellowgreen; display: inline-block;' onclick='saveDate(this.previousElementSibling, " + id + ", " + t + ")'><i class='fas fa-check'></i></span></div>";
            $(btn).parent().html("<div class='form-inline'><input type='date' class='form-control form-control-sm'  value='" + valDate + "' />" + saveBtn);
        }

        function addEditBtns() {
            var btn = "<span style='font-size: 17px; float:right' onclick=\"changeDate(this, 0)\"><i class='fas fa-edit'></i></span>";
            $("#req-body tr").each(function (item) {
                //условие отображения кнопки
                id = $(this).prop('id').substr(2);
                td = $(this).find('td').eq(7).html();
                if (reqs[id].role == '1'){
                    $(this).find('td').eq(7).html(td + btn);
                    btn = "<span style='font-size: 17px; float:right' onclick=\"changeDate(this, 1)\"><i class='fas fa-edit'></i></span>";
                    td = $(this).find('td').eq(8).html();
                    $(this).find('td').eq(8).html(td + btn);
                }
            });
        }

        function loadReqs(stock) {
            code = "";
            if (stock == "-1") {
                for (r in reqs) {
                    code = code + "<tr id='l-" + r + "' onclick='getDemandGoods(" + r + ", \"s\")'><td></td><td>" + reqs[r].date + "</td><td>" + reqs[r].id + "</td><td>" + reqs[r].provider + "</td><td>" + reqs[r].consumer + "</td><td>" + reqs[r].donor + "</td><td>" + reqs[r].acceptor + "</td><td>" + reqs[r].release_date + "</td><td>" + reqs[r].finish_date + "</td></tr>";
                }
            }
            else {
                for (r in reqs) {
                    if (reqs[r].donor_id == stock || reqs[r].acceptor_id == stock) {
                        code = code + "<tr id='l-" + r + "' onclick='getDemandGoods(" + r + ", \"s\")'><td></td><td>" + reqs[r].date + "</td><td>" + reqs[r].id + "</td><td>" + reqs[r].provider + "</td><td>" + reqs[r].consumer + "</td><td>" + reqs[r].donor + "</td><td>" + reqs[r].acceptor + "</td><td>" + reqs[r].release_date + "</td><td>" + reqs[r].finish_date + "</td></tr>";
                    }
                }
            }
            if (code == "") code = "<tr><td colspan='9' class='no-data'>Нет записей</td></tr>";
            $("#req-body").html(code);
            addEditBtns();
        }


        function openInf(id, obj) {
            $("#add-" + id).toggle();
            $(obj.firstChild).toggleClass("fa-caret-down fa-caret-up");
        }


    </script>
    <input value="{{ reqs }}" id="reqs" hidden/>
    <div class="container-fluid">

        <div class="card" style="margin-left: 30px;margin-right: 30px;">
            <div class="card-header">
                <div class="filter">
                    <div class="form-inline">
                        <span>Склад</span>
                        <select class="form-control inline-el" onchange="loadReqs($(this).val())">
                            <option value="-1">Все</option>
                            {% for s in stocks %}
                                <option value="{{ s.stock.pk }}">{{ s.stock }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="count_table" style="padding-bottom: 0">
                <table class="table table-bordered table-hover" style="margin-bottom: 0">
                    <thead class="thead-light">
                    <tr>
                        <th></th>
                        <th scope="col">Дата</th>
                        <th scope="col">Номер</th>
                        <th scope="col">Поставщик</th>
                        <th scope="col">Потребитель</th>
                        <th scope="col">Донор</th>
                        <th scope="col">Акцептор</th>
                        <th scope="col">Ожидаемая дата отпуска</th>
                        <th scope="col">Ожидаемая дата поставки</th>
                    </tr>
                    </thead>
                    <tbody id="req-body">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="card" style="margin-left: 30px;margin-top: 30px;margin-right: 30px;">
            <h6 class="card-header">
                Номенклатура
                <input style="float: right"  type="button" id="makeSupplyBtn" onclick="openSupply()" disabled
                       class="btn btn-primary btn-sm" value="Оприходовать"/>
            </h6>
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Артикул</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Кол-во операционное</th>
                    <th scope="col">Ед. изм. операционная</th>
                    <th scope="col">Кол-во базовых ед.</th>
                    <th scope="col">Ед. изм. базовая</th>
                    <th scope="col">Остаток</th>
                </tr>
                </thead>
                <tbody id="goods-body">
                <tr>
                    <td colspan="7" class="no-data">Нет записей</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



    <div class="modal fade" id="supply">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Поставка</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Артикул</th>
                            <th scope="col">Наименование</th>
                            <th scope="col">Поставка, кол-во</th>
                        </tr>
                        </thead>
                        <tbody id="supply-body">
                        </tbody>
                    </table>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Оформить"
                               onclick=""
                               id="supplyBtn" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
