{% extends 'store/base.html' %}
{% block content %}
    {% load staticfiles %}
    <script>
        var inp = null;
        var tr = null;
        var goods = null;
        var units = null;
        var stocks = null;
        //var goods_json = null;
        var selected = 0;
        var inp = null;
        var reqs = {};
        var reqInfo = {};
        var curReq = null;
        var isSupply = true;
        var stock_inf = null;
        var isDonor = false;
        $(document).ready(function () {
            //goods = JSON.parse(JSON.parse($("#stockData").prop("value")));
            //addStock();
            stock_inf = JSON.parse($("#stock_inf").prop("value"));
            goods = JSON.parse($("#goods").prop("value"));
            //goods_json = JSON.parse($("#goods_json").prop("value"));
            goods_inf = JSON.parse($("#goods_inf").prop("value"));
            tree = JSON.parse($("#tree_data").prop("value"));
            tr = new GTree(tree, "goods");
            $("#1")[0].click();
            units = JSON.parse($("#units").prop("value"));
            stocks = JSON.parse($("#stock_data").prop("value"));
            addGoodField();
            getStocks('acceptor');
            reqs = JSON.parse($("#reqs").prop("value"));
            reqs = Object.values(reqs).reverse();
            loadReqs("-1");
            pag = new Pagination(10, "req-body", "reqNav");
            pag2 = new Pagination(10, "goods-body", "goodsNav");
            $('#date').val(new Date().toDateInputValue());
            $('.modal').css('overflow-y', 'auto');
        });

        function formatDate(date) {

            var dd = date.getDate();
            if (dd < 10) dd = '0' + dd;

            var mm = date.getMonth();
            if (mm < 10) mm = '0' + mm;

            var yy = date.getFullYear();

            return yy + "-" + mm + "-" + dd;
        }



        function loadReqs(stock) {
            code = "";
            if (stock == "-1") {
                for (r in reqs) {
                    code = code + "<tr id='l-" + r + "' onclick='getDemandGoods(" + r + ", \"s\")'><td>" + reqs[r].vin + "</td><td>" + reqs[r].date + "</td><td>" + reqs[r].acceptor + "</td><td>" + reqs[r].finish_date + "</td><td>" + reqs[r].cause + " " + reqs[r].donor + "</td><td>" + reqs[r].release_date + "</td><td>" + reqs[r].user + "</td><td><span onclick='confirmDel(" + r + ", this.parentElement)'><i class='fas fa-trash-alt menu-btn' title='Удалить'></i></span></td></tr>";
                }
            }
            else {
                for (r in reqs) {
                    if (reqs[r].donor_id == stock || reqs[r].acceptor_id == stock) {
                        code = code + "<tr id='l-" + r + "' onclick='getDemandGoods(" + r + ", \"s\")'><td>" + reqs[r].vin + "</td><td>" + reqs[r].date + "</td><td>"  + reqs[r].acceptor + "</td><td>" + reqs[r].finish_date + "</td><td>"  + reqs[r].cause + " " + reqs[r].donor + "</td><td>" + reqs[r].release_date + "</td><td>" + reqs[r].user + "</td><td><span onclick='confirmDel(" + r + ", this.parentElement)'><i class='fas fa-trash-alt menu-btn' title='Удалить'></i></span></td></tr>";
                    }
                }
            }
            if (code == "") code = "<tr><td colspan='9' class='no-data'>Нет записей</td></tr>";
            $("#req-body").html(code);
            pag = new Pagination(10, "req-body", "reqNav");
            pag2 = new Pagination(10, "goods-body", "goodsNav");
        }

        function confirmDel(id, obj) {
            $("#delBtn").unbind();
            $("#delBtn").click(function(){
                delOperation(obj);
            });
            var name = reqs[id].vin;
            $("#del-name").text(name);
            $("#del_modal").modal();
        }

        function openInf(id, obj) {
            $("#add-" + id).toggle();
            $(obj.firstChild).toggleClass("fa-caret-down fa-caret-up");
        }


    </script>
    <input value="{{ reqs }}" id="reqs" hidden/>
    <input id="tree_data" value="{{ tree }}" hidden>
        <input id="goods" value="{{ goods }}" hidden>
        <input id="goods_inf" value="{{ goods_inf }}" hidden>
        <input value="{{ stockData }}" id="stock_data" hidden/>
        <input value="{{ units }}" id="units" hidden/>
        <input value="{{ stock_inf }}" id="stock_inf" hidden/>
    <input id="goods_json" value="{{ goods_json }}" hidden>
    <div class="container-fluid">

        <div class="card">
            <div class="card-header">
                <div class="form-inline">
            <button type="button" class="inline-el btn btn-success btn-sm"
                               onclick="$('#add_supply').modal();$('#add_supply').modal('handleUpdate');">
                            Создать поступление
                        </button>
                <div class="filter inline-el">
                    <div class="form-inline">
                        <span class="inline-el">Склад</span>
                        <select class="form-control inline-el form-control-sm" onchange="loadReqs($(this).val())">
                            <option value="-1">Все</option>
                            {% for s in stocks %}
                                <option value="{{ s.stock.pk }}">{{ s.stock }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                </div>
            </div>
            <div class="count_table table-responsive-sm" style="padding-bottom: 0">
                <table class="table table-bordered table-hover table-sm" style="margin-bottom: 0">
                    <thead class="thead-light" style="text-align: center">
                    <tr>
                        <th scope="col">ВИН</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Акцептор</th>
                        <th scope="col">Ожидаемая дата получения</th>
                        <th scope="col">Отправитель</th>
                        <th scope="col">Ожидаемая дата отпуска</th>
                        <th scope="col">Создатель</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="req-body">

                    </tbody>
                </table>
            </div>
        </div>
    <nav aria-label="..." class="nav-pages">
                <ul class="pagination pagination-sm justify-content-end" id="reqNav">
                </ul>
            </nav>
        <div class="card" style="margin-top: 30px;">
            <h6 class="card-header">
                Номенклатура
                <input style="float: right"  type="button" id="makeSupplyBtn" onclick="openSupply(false)" disabled
                       class="btn btn-info btn-sm" value="Оприходовать"/>
            </h6>
            <table class="table table-bordered table-sm table-responsive-sm">
                <thead class="thead-light" style="text-align: center">
                <tr>
                    <th scope="col">Артикул</th>
                    <th scope="col">Наименование</th>
                    <th scope="col">Кол-во</th>
                    <th scope="col">Ед. изм.</th>
                    <!--<th scope="col">Кол-во базовых ед.</th>
                    <th scope="col">Ед. изм. базовая</th>-->
                    <th scope="col">Остаток</th>
                </tr>
                </thead>
                <tbody id="goods-body">
                <tr>
                    <td colspan="7" class="no-data">Нет записей</td>
                </tr>
                </tbody>
            </table>
        </div>
    <nav aria-label="..." class="nav-pages">
                <ul class="pagination pagination-sm justify-content-end" id="goodsNav">
                </ul>
            </nav>
    </div>



    <div class="modal fade" id="supply">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Поставка</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">Артикул</th>
                            <th scope="col">Наименование</th>
                            <th scope="col">Кол-во</th>
                            <th scope="col">Цена</th>
                        </tr>
                        </thead>
                        <tbody id="supply-body">
                        </tbody>
                    </table>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Оформить"
                               onclick=""
                               id="supplyBtn" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add_supply">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="supplyTitle">Создание поступления</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                <form id="form">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <h6 id="counterLabel">Контрагент</h6>
                            <select class="form-control" id="consumer" disabled onchange="getStocks('acceptor')">
                                {% for c in counters %}
                                    {% if c == counter %}
                                        <option value="{{ c.id }}" selected>{{ c.name }}</option>
                                    {% else %}
                                        <option value="{{ c.id }}">{{ c.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <h6>Склад</h6>
                            <select class="form-control" id="acceptor" required>
                            </select>
                        </div>
                    </div>
                    <h6 id="dateLabel">Дата получения</h6>
                    <input type="date" class="form-control" id="date" required/>
                <h6>Основание</h6>
                            <select class="form-control" id="cause" required>
                                {% for key, values in causes.items %}
                                    <option value="{{ key }}">{{ values.name }}</option>
                                {% endfor %}
                            </select>
                    <hr>
                    <h6>Товары</h6>
                    <div id="add_goods">
                    </div>
                    <!--<span style='font-size: 20px; color: yellowgreen; display: inline-block; margin-top:10px'
                          onclick="addGoodField()"><i class='fas fa-plus-circle'></i></span>-->
                    <button class="btn add-btn btn-outline-success" onclick="addGoodField();return false;">Добавить</button>
                    </form>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Сохранить" id="saveSupplyBtn" onclick="saveSupply()" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="tree-div">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Товары</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body">
                    <ul id="tree" class="goods_tree">

                    </ul>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Выбрать"
                               onclick="setGoodName(inp);$('#tree-div').modal('hide');"
                               id="selectBtn" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="del_modal">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Удаление поступления</h5>
                    <button class="close" data-dismiss="modal">x</button>

                </div>
                <div class="modal-body create-form">
                    <h6>Удалить <span id="del-name"></span>?</h6>
                    <div class="modal-footer" style="margin-top:5pt">
                        <input value="Удалить" id="delBtn" onclick="" class="btn btn-primary"
                               style="float: right"/></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
