{% load staticfiles %}
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/errors.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.all.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min2.css' %}">
</head>
<body class="body-error">
<div class="error-text">
    <h1>404</h1>
    <h2>Страница не существует</h2>
    <a class="text-info" onclick="history.back(); return false;"><i class="fas fa-arrow-left"></i> Вернуться на предыдущую страницу</a>
</div>
<span class="err400"><i class="fas fa-cogs"></i></span>
</body>