{% extends 'tables/base.html' %}
{% block content %}
<script type="text/javascript">
$(document).ready(function(){
  addValidation();
});</script>
<div class="panel panel-default" style ="margin: auto">
  <div class="panel-heading">
    {% if box == None %}
      <h4 class="panel-title">Добавление записи</h4>
      {% else %}
      <h4 class="panel-title">Редактирование записи: {{ box }}</h4>
      {% endif %}
  </div>

  {% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
  {% endif %}
<div class="panel-body">
  <div class="input-group" style ="margin: auto">
    <form action="save_box/" method="post">
      {% csrf_token %}
          <h5><b>Артикул:</b><h5>
          <input type="text" class="form-control" placeholder="Артикул" size = "50" name = "code" value="{{ box.code }}" required></p>
          <br><br><br>
          <h5><b>Наименование:</b><h5>
          <input type="text" class="form-control" placeholder="Наименование" size = "50" name = "name" value="{{ box.name }}" required></p>
          <br><br><br>
          <input type="submit" id="send" value="Сохранить" class="btn btn-primary" style="float: right"/>
    </div>
    </div>
  </form>
  </div>
{% endblock content %}
