{% extends 'tables/base.html' %}
{% block content %}
<ul class="nav nav-tabs nav-justified">
  <li><a href="/tables/packing/">Тара</a></li>
  <li class="active"><a href="/tables/caps/">Укупорка</a></li>
  <li><a href="/tables/boxing/">Упаковка</a></li>
  <li><a href="/tables/stickers/">Этикетка</a></li>
</ul>

<form action="del_cap/" method="post" style="margin-top: 40px">
{% csrf_token %}
<a href="new_cap/"><button type="button" class="btn btn-default">Добавить запись</button></a>
<input type="submit" class="btn btn-default" value="Удалить">
<br><br>
{% if caps %}
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th></th><th>Артикул</th><th>Наименование</th><th>Вид</th><th>Форма</th><th>Цвет</th><th>Материал</th>
    </tr>
  </thead>
  <tbody>
    {% for c in caps %}
    <tr>
      <td><input type="checkbox" value="{{ c.id }}" name="del_list"></td>
      <td>{{ c.code }}</td>
      <td onClick="window.location.href='/tables/materials/{{ m.id }}/'">{{ c }}</td>
      <td>{{ c.group.name }}</td>
      <td>{{ c.form.name }}</td>
      <td>{{ c.colour.name }}</td>
      <td>{{ c.mat.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No materials are available right now.</p>
{% endif %}
</div>
</form>
{% endblock content %}
