{% extends 'tables/base.html' %}
{% block content %}
<ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="/tables/characteristics/">Все характеристики</a></li>
  <li><a href="/tables/formulas_char/">Характеристики составов</a></li>
</ul>

<form action="del_characteristic/" method="post" style="margin-top: 40px">
{% csrf_token %}
<button type="button" class="btn btn-default" onClick="window.location.href='/tables/characteristics/0/'">Добавить запись</button></a>
<input type="submit" class="btn btn-default" value="Удалить">
<br><br>
{% if characteristics %}
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th></th><th>id</th><th>Наименование</th><th>Тип</th>
    </tr>
  </thead>
  <tbody>
    {% for c in characteristics %}
    <tr>
      <td><input type="checkbox" value="{{ c.id }}" name="del_list"></td>
      <td>{{ c.id }}</td>
      <td onClick="window.location.href='/tables/characteristics/{{ c.id }}/'">{{ c.name }}</td>
      <td>{{ c.type.name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No materials are available right now.</p>
{% endif %}
</div>
</form>
{% endblock content %}
