{% extends 'tables/base.html' %}
{% block content %}

<script type="text/javascript">
  $(document).ready(function(){
    getCharVal();
  });
</script>
<div class="panel panel-default" style ="margin: auto">
  <div class="panel-heading">
    {% if characteristic == None %}
      <h4 class="panel-title">Добавление записи</h4>
      {% else %}
      <h4 class="panel-title">Редактирование записи: {{ characteristic }}</h4>
      {% endif %}
  </div>

  {% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
  {% endif %}
<div class="panel-body">
  <div class="input-group" style ="margin: auto">
    <form action="save_characteristic/" method="post">
      {% csrf_token %}
          <h5><b>Тип характеристики:</b><h5>
          <p><select class="form-control" name="type" id="type" onchange="getCharVal();">
            {% for t in types %}
            {% if characteristic.type == t %}
            <option selected value="{{t.id}}">{{t.name}}</option>
            {% else %}
            <option value="{{t.id}}">{{t.name}}</option>
            {% endif %}
            {% endfor %}
          </select></p></p>
          <br><br><br>
          <h5><b>Наименование:</b><h5>
          <input type="text" class="form-control" placeholder="Наименование" size = "50" name = "name" value="{{ caracteristic.name }}" required></p>
          <br><br><br>
          <h5><b>Группа характеристики:</b><h5>
          <p><select class="form-control" name="group" id="group">
            {% for g in groups %}
            {% if characteristic.group == g %}
            <option selected value="{{g.id}}">{{g.name}}</option>
            {% else %}
            <option value="{{g.id}}">{{g.name}}</option>
            {% endif %}
            {% endfor %}
          </select></p></p>
          <br><br><br>
          <div id="charVal">
          </div>
          <input type="submit" id="send" value="Сохранить" class="btn btn-primary" style="float: right; margin-top: 20pt"/>
        </div>
    </div>
    </div>
  </form>


{% endblock content %}
