{% extends 'tables/base.html' %}
{% block content %}
          <form action="del_comp/" method="post">
          {% csrf_token %}
          <button type="button" class="btn btn-default" onClick="window.location.href='/tables/complex_comps/0/'">Добавить запись</button>
          <input type="submit" class="btn btn-default" value="Удалить">
          <br><br>
          {% if comps %}
          <table class="table table-hover table-sm">
            <thead>
              <tr  class="well well-sm">
                <th></th><th>Код</th><th>Наименование</th><th>Количество, кг</th>
              </tr>
            </thead>
            <tbody>
              {% for c in comps %}
              <tr>
                <td><input type="checkbox" value="{{ c.id }}" name="del_list1"></td>
                <td>{{ c.code }}</td>
                <td onClick="window.location.href='/tables/complex_comps/{{ c.id }}/'">{{ c.name }}</td>
                <td>{{c.ammount}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <p>No materials are available right now.</p>
          {% endif %}
        </div>
        </form>
  {% endblock content %}
