{% extends 'tables/base.html' %}
{% block content %}

<script type="text/javascript">
function addRow(id){
    var comp_id = document.getElementById("material").selectedOptions[0].value;
    var comp_name = document.getElementById("material").selectedOptions[0].textContent;
    var min = document.getElementById("min").value;
    var max = document.getElementById("max").value;
    var tbody = document.getElementById(id).getElementsByTagName("TBODY")[0];
    var row = document.createElement("TR");
    var td1 = document.createElement("TD");
    td1.appendChild(document.createTextNode(comp_id));
    var td2 = document.createElement("TD");
    td2.appendChild (document.createTextNode(comp_name.substring(5)));
    var td3 = document.createElement("TD");
    td3.appendChild (document.createTextNode(min));
    var td4 = document.createElement("TD");
    td4.appendChild (document.createTextNode(max));
    var td5 = document.createElement("TD");
    var t6 = document.createElement("button");
    t6.setAttribute('onclick', 'deleteRow(this)')
    t6.appendChild(document.createTextNode("Удалить"))
    td5.appendChild (t6);
    row.appendChild(td1);
    row.appendChild(td2);
    row.appendChild(td3);
    row.appendChild(td4);
    row.appendChild(td5);
    tbody.appendChild(row);
    var table = $('#components').tableToJSON({ignoreColumns: [4]}); // Convert the table into a javascript object
    var field = document.getElementById('json');
    field.value = JSON.stringify(table);
  }

  function deleteRow(r)
  {
    var i=r.parentNode.parentNode.rowIndex;
    document.getElementById('components').deleteRow(i);
    var table = $('#components').tableToJSON({ignoreColumns: [4]}); // Convert the table into a javascript object
    var field = document.getElementById('json');
    field.value = JSON.stringify(table);
  }
  </script>

<div class="panel panel-default" style ="margin: auto">
  <div class="panel-heading"><h4 class="panel-title"></h4></div>
  {% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
  {% endif %}
<div class="panel-body">
  <div class="input-group" style ="margin: auto">
    <form action="add_composition/" method="post">
      {% csrf_token %}
      <div id="two-column">
        <div id="left">
          <h5><b>Код:</b><h5>
          <input type="text" class="form-control" placeholder="Код" size = "50" name = "code" value="{{ comp.code }}"></p>
          <br><br><br>
          <h5><b>Наименование:</b></h5>
          <input type="text" class="form-control" placeholder="Наименование" size = "50" name = "name" value="{{ comp.name }}"></p>
          <br><br><br>
        </div>
        <div id="right">
          <h5><b>Группа:</b><br></h5>
          <p><select class="form-control" name="group">
            {% for g in groups %}
            {% if comp.group == g %}
            <option selected value="{{g.id}}">{{g.name}}</option>
            {% else %}
            <option value="{{g.id}}">{{g.name}}</option>
            {% endif %}
            {% endfor %}
          </select></p></p>
          <br><br><br>
          <h5><b>СГР:</b><br></h5>
          <input type="text" class="form-control" placeholder="СГР" size = "50" name = "sgr" value="{{ comp.sgr }}"></p>
          <br><br><br><br>
          <input type="submit" value="Сохранить" class="btn btn-primary" style="float: right"/>
        </div>
      </div>
    </div>
    </div>
    <div class="panel panel-default" style ="margin: auto">
      <div class="panel-heading">
      <!--<p><h5><b></b><h5></p>-->
      <div class="form-inline" style="margin: auto">
        <label for="material">Реактив:</label>
        <select class="form-control" id="material" style="width:30%">
          {% for m in materials %}
          <option value="{{ m.code }}">{{ m.get_name }}</option>
          {% endfor %}</select>
          <label for="min">Минимум:</label>
          <div class="input-group">
            <input type="number" class="form-control bfh-number" max="100" min="0"  value="100" id="min"> <span class="input-group-addon">%</span></p>
          </div>
          <label for="max">Максимум:</label>
          <div class="input-group">
            <input type="number" class="form-control bfh-number" max="100" min="0"  value="100" id="max"> <span class="input-group-addon">%</span></p>
          </div>
          <button type="button" class="btn btn-default" onclick="addRow('components');return false;">Добавить</button>
      </div>
    </div>

      <table class="table table-sm" id="components" style="width:80%; margin: auto">
        <thead>
          <tr>
            <th>Код</th><th>Наименование</th><th>Минимум чистого реактива</th><th>Максимум чистого реактива</th><th></th>
          </tr>
        </thead>
        <tbody>
          {% for c in comps %}
          <tr>
            <td>{{ c.mat.code }}</td>
            <td>{{ c.mat.name }}</td>
            <td>{{ c.min }}</td>
            <td>{{ c.max }}</td>
            <td><button onclick='deleteRow(this)'>Удалить</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <input type="hidden" id="json" name="json" value="">
    </form>
    </div>
  </div>
  </div>


{% endblock content %}
