{% extends 'tables/base.html' %}
{% block content %}

<div class="panel panel-default" style ="margin: auto">
  <div class="panel-heading">
    {% if container == None %}
      <h4 class="panel-title">Добавление записи</h4>
      {% else %}
      <h4 class="panel-title">Редактирование записи: {{ container }}</h4>
      {% endif %}
  </div>

  {% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
  {% endif %}
<div class="panel-body">
  <div class="input-group" style ="margin: auto">
    <form action="save_container/" method="post">
      {% csrf_token %}
      <div id="two-column">
        <div id="left">
          <h5><b>Артикул:</b><h5>
          <input type="text" class="form-control" placeholder="Код" size = "50" name = "code" value="{{ container.code }}"></p>
          <br><br><br>
          <h5><b>Вид:</b><br></h5>
          <p><select class="form-control" name="group">
            {% for g in groups %}
            {% if container.group == g %}
            <option selected value="{{g.id}}">{{g.name}}</option>
            {% else %}
            <option value="{{g.id}}">{{g.name}}</option>
            {% endif %}
            {% endfor %}
          </select></p></p>
          <br><br><br>
          <h5><b>Форма:</b><br></h5>
          <p><select class="form-control" name="form">
            {% for f in forms %}
            {% if container.form == f %}
            <option selected value="{{f.id}}">{{f.name}}</option>
            {% else %}
            <option value="{{f.id}}">{{f.name}}</option>
            {% endif %}
            {% endfor %}
          </select></p></p>
          <br><br><br>
        </div>
        <div id="right">
          <h5><b>Цвет:</b><br></h5>
          <p><select class="form-control" name="colour">
            {% for c in colours %}
            {% if container.colour == c %}
            <option selected value="{{c.id}}">{{c.name}}</option>
            {% else %}
            <option value="{{c.id}}">{{c.name}}</option>
            {% endif %}
            {% endfor %}
          </select></p></p>
          <br><br><br>
          <h5><b>Материал:</b><br></h5>
          <p><select class="form-control" name="container_mat">
            {% for m in materials %}
            {% if container.mat == m %}
            <option selected value="{{m.id}}">{{m.name}}</option>
            {% else %}
            <option value="{{m.id}}">{{m.name}}</option>
            {% endif %}
            {% endfor %}
          </select></p></p>
          <br><br><br>
          <br><br><br><br><br><br>
          <input type="submit" value="Сохранить" class="btn btn-primary" style="float: right"/>
        </div>
      </div>
    </div>
    </div>
  </form>
  </div>
{% endblock content %}
