{% extends 'tables/base.html' %}
{% block content %}
<form action="del_formula/" method="post">
    {% csrf_token %}
          <button type="button" class="btn btn-default" onClick="window.location.href='/tables/formulas/0/'">Добавить запись</button>
          <input type="submit" class="btn btn-default" value="Удалить">
          <br><br>
          {% if formulas %}
              <table class="table table-sm" style="font-size: 110%;">
                <thead>
                  <tr>
                    <th></th><th>Код</th><th>Наименование</th><th>Группа</th>
                  </tr>
                </thead>
                <tbody>
                  {% for f in formulas %}
                  <tr>
                    <td><input type="checkbox" value="{{ f.id }}" name="del_list"></td>
                    <td>{{ f.code }}</td>
                    <td onClick="window.location.href='/tables/formulas/{{ f.id }}/'">{{ f }}</td>
                    <td>{{ f.composition.group.name }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p>No materials are available right now.</p>
              {% endif %}
  {% endblock content %}
