{% extends 'tables/base.html' %}
{% block content %}
<script type="text/javascript">
$(document).ready(function(){
  addValidation();
});
</script>
        <div class="panel panel-default" style ="margin: auto">
          <div class="panel-heading"><h4 class="panel-title"> Добавление новой записи </h4></div>
          {% if error_message %}
          <p><strong>{{ error_message }}</strong></p>
          {% endif %}
          <div class="panel-body">
            <div class="input-group" style ="margin: auto">
              <form action="add_product/" method="post">
                {% csrf_token %}
                <p><h3>Продукт</h3></p>
                <hr>
                <div id="two-column" style="display:inline-block">
                  <div id="left">
                    <h5><b>Полный код:</b><h5>
                    <input type="text" class="form-control" placeholder="Код" size = "50" name = "code" required></p>
                    <br><br><br>
                    <h5><b>Краткое наименование:</b></h5>
                    <input type="text" class="form-control" placeholder="Наименование" size = "50" name = "name" required></p>
                    <br><br><br>
                    <h5><b>Группа:</b><br></h5>
                    <p><select class="form-control" name="group">
                      {% for g in groups %}
                      <option value="{{g.id}}">{{g.name}}</option>
                      {% endfor %}
                    </select></p></p>
                  </div>
                  <div id="right">
                    <h5><b>Назначение:</b><br></h5>
                    <p><select class="form-control" name="use">
                      {% for u in uses %}
                      <option value="{{u.id}}">{{u.name}}</option>
                      {% endfor %}
                    </select></p></p>
                    <br><br><br>
                    <h5><b>Варианты:</b><br></h5>
                    <input type="text" class="form-control" placeholder="Варианты" size = "80" name = "option">{{o.option}}</p>
                    <br><br><br>
                    <h5><b>Уточнение:</b><br></h5>
                    <input type="text" class="form-control" placeholder="Уточнение" size = "80" name = "detail">{{o.detail}}</p>
                    <br><br><br>
                    <h5><b>Марка:</b><br></h5>
                    <p><select class="form-control" name="mark">
                      {% for m in marks %}
                      <option value="{{m.id}}">{{m.name}}</option>
                      {% endfor %}
                    </select></p></p>
                  </div>
                </div>
                <br>
                <p><h3>Макет</h3></p>
                <hr>
                <div id="two-column" style="display:inline-block">
                  <div id="left">
                  <h5><b>Рецепт:</b><br></h5>
                  <p><select class="form-control" name="composition">
                    {% for c in compositions %}
                    {% if commodity.composition == c %}
                    <option selected value="{{c.id}}">{{c.code}} {{c.name}}</option>
                    {% else %}
                    <option value="{{c.id}}">{{c.code}} {{c.name}}</option>
                    {% endif %}
                    {% endfor %}
                  </select></p></p>
                  <br><br><br>
                  <h5><b>Тара:</b><br></h5>
                  <p><select class="form-control" name="container">
                    {% for c in containers %}
                    {% if commodity.container == c %}
                    <option selected value="{{c.id}}">{{c.code}} {{c}}</option>
                    {% else %}
                    <option value="{{c.id}}">{{c.code}} {{c}}</option>
                    {% endif %}
                    {% endfor %}
                  </select></p></p>
                  <br><br><br>
                  <h5><b>Укупорка:</b><br></h5>
                  <p><select class="form-control" name="cap">
                    {% for c in caps %}
                    {% if commodity.cap == c %}
                    <option selected value="{{c.id}}">{{c.code}} {{c}}</option>
                    {% else %}
                    <option value="{{c.id}}">{{c.code}} {{c}}</option>
                    {% endif %}
                    {% endfor %}
                  </select></p></p>
                  <br><br><br>
                  <h5><b>Этикетка:</b><br></h5>
                  <p><select class="form-control" name="sticker">
                    {% for s in stickers %}
                    {% if commodity.sticker == s %}
                    <option selected value="{{s.id}}">{{s.code}} {{s}}</option>
                    {% else %}
                    <option value="{{s.id}}">{{s.code}} {{s}}</option>
                    {% endif %}
                    {% endfor %}
                  </select></p></p>
                  <br><br><br>
                  <h5><b>Упаковка:</b><br></h5>
                  <p><select class="form-control" name="boxing">
                    {% for b in boxing %}
                    {% if commodity.boxing == b %}
                    <option selected value="{{b.id}}">{{b.code}} {{b}}</option>
                    {% else %}
                    <option value="{{b.id}}">{{b.code}} {{b}}</option>
                    {% endif %}
                    {% endfor %}
                  </select></p></p>
                  <br><br><br>
                </div>
                  <div id="right" style="width:30%;float:left;margin-left:10%">
                  <h5><b>Кол-во в фасовке:</b></h5>
                  <input type="number" class="form-control" placeholder="Кол-во в фасовке композиции" step="0.01" name = "compAmount" required></p>
                  <br><br><br>
                  <h5><b>Кол-во в фасовке:</b></h5>
                  <input type="number" class="form-control" placeholder="Кол-во в фасовке тары" step="0.01" name = "contAmount" required></p>
                  <br><br><br>
                  <h5><b>Кол-во в фасовке:</b></h5>
                  <input type="number" class="form-control" placeholder="Кол-во в фасовке укупорки" step="0.01" name = "capAmount" required></p>
                  <br><br><br>
                  <h5><b>Кол-во в фасовке:</b></h5>
                  <input type="number" class="form-control" placeholder="Кол-во в фасовке этикеток" step="0.01" name = "stickerAmount" required></p>
                  <br><br><br>
                  <h5><b>Кол-во в фасовке:</b></h5>
                  <input type="number" class="form-control" placeholder="Кол-во в фасовке упаковки" step="0.01" name = "boxingAmount" required></p>
                  <br><br><br>
                  </div>
                  <div id="right" style="width:10%">
                  <h5><b>Ед. изм.:</b><br></h5>
                  <p><select class="form-control" name="compUnit">
                    {% for u in units %}
                    <option value="{{u.id}}">{{u.name}}</option>
                    {% endfor %}
                  </select></p></p>
                  <br><br><br>
                  <h5><b>Ед. изм.:</b><br></h5>
                  <p><select class="form-control" name="contUnit">
                    {% for u in units %}
                    <option value="{{u.id}}">{{u.name}}</option>
                    {% endfor %}
                  </select></p></p>
                  <br><br><br>
                  <h5><b>Ед. изм.:</b><br></h5>
                  <p><select class="form-control" name="capUnit">
                    {% for u in units %}
                    <option value="{{u.id}}">{{u.name}}</option>
                    {% endfor %}
                  </select></p></p>
                  <br><br><br>
                  <h5><b>Ед. изм.:</b><br></h5>
                  <p><select class="form-control" name="stickerUnit">
                    {% for u in units %}
                    <option value="{{u.id}}">{{u.name}}</option>
                    {% endfor %}
                  </select></p></p>
                  <br><br><br>
                  <h5><b>Ед. изм.:</b><br></h5>
                  <p><select class="form-control" name="boxingUnit">
                    {% for u in units %}
                    <option value="{{u.id}}">{{u.name}}</option>
                    {% endfor %}
                  </select></p></p>
                </div>
                </div>
                <hr>
                <input type="submit" id="send" value="Сохранить" class="btn btn-primary" style="float: right; margin-top:0pt"/>
              </form>
            </div>
          </div>
        </div>
{% endblock content %}
