{% extends 'tables/base.html' %}
{% block content %}
<script type="text/javascript">
$(document).ready(function(){
  addValidation();
});
</script>
        <div class="panel panel-default" style ="margin: auto">
          <div class="panel-heading"><h4 class="panel-title"> Добавление новой записи </h4></div>
          {% if error_message %}
          <p><strong>{{ error_message }}</strong></p>
          {% endif %}
          <div class="panel-body">
            <div class="input-group" style ="margin: auto">
              <form action="add_product/" method="post">
                {% csrf_token %}
                <div id="two-column">
                  <div id="left">
                    <h5><b>Полный код:</b><h5>
                    <input type="text" class="form-control" placeholder="Код" size = "50" name = "code" required></p>
                    <br><br><br>
                    <h5><b>Краткое наименование:</b></h5>
                    <input type="text" class="form-control" placeholder="Наименование" size = "50" name = "name" required></p>
                    <br><br><br>
                    <h5><b>Группа:</b><br></h5>
                    <p><select class="form-control" name="group">
                      {% for g in groups %}
                      <option value="{{g.id}}">{{g.name}}</option>
                      {% endfor %}
                    </select></p></p>
                    <br><br><br>
                    <h5><b>Форма:</b><br></h5>
                    <p><select class="form-control" name="form">
                      {% for f in forms %}
                      <option value="{{f.id}}">{{f.name}}</option>
                      {% endfor %}
                    </select></p></p>
                  </div>
                  <div id="right">
                    <h5><b>Назначение:</b><br></h5>
                    <p><select class="form-control" name="use">
                      {% for u in uses %}
                      <option value="{{u.id}}">{{u.name}}</option>
                      {% endfor %}
                    </select></p></p>
                    <br><br><br>
                    <h5><b>Варианты:</b><br></h5>
                    <p><select class="form-control" name="option">
                      {% for o in options %}
                      <option value="{{o.id}}">{{o.name}}</option>
                      {% endfor %}
                    </select></p></p>
                    <br><br><br>
                    <h5><b>Уточнение:</b><br></h5>
                    <p><select class="form-control" name="detail">
                      {% for d in details %}
                      <option value="{{d.id}}">{{d.name}}</option>
                      {% endfor %}
                    </select></p></p>
                    <br><br><br>
                    <h5><b>Марка:</b><br></h5>
                    <p><select class="form-control" name="mark">
                      {% for m in marks %}
                      <option value="{{m.id}}">{{m.name}}</option>
                      {% endfor %}
                    </select></p></p>
                    <br><br><br><br>
                    <input type="submit" id="send" value="Сохранить" class="btn btn-primary" style="float: right"/>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
{% endblock content %}
