{% extends 'tables/base.html' %}
{% block content %}

<script type="text/javascript">
$(document).ready(function(){
  $("#b1").click();
  addValidation();
});
</script>


<div class="panel panel-default" style ="margin: auto">
  <div class="panel-heading">
    {% if comp == None %}
      <h4 class="panel-title">Добавление записи</h4>
      {% else %}
      <h4 class="panel-title">Редактирование записи: {{ formula }}</h4>
      {% endif %}
  </div>
  {% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
  {% endif %}
<div class="panel-body">
  <div class="input-group" style ="margin: auto">
    <form action="save_comp/" method="post" class="form-horizontal">
      {% csrf_token %}

      <div class="form-group">
        <div class="form-group"><label for="code" class="col-sm-2 control-label" style="font-size: medium; margin-left:10pt; margin-right:10pt">Код: </label><div class="col-sm-8"><input id="code" name="code" type="text" class="form-control" required></div></div>
        <div class="form-group"><label for="name" class="col-sm-2 control-label" style="font-size: medium; margin-left:10pt; margin-right:10pt">Наименование: </label><div class="col-sm-8"><input id="name1" name="name" type="text" class="form-control" required></div></div>
        <div class="form-group"><label for="ammount" class="col-sm-2 control-label" style="font-size: medium; margin-left:10pt; margin-right:10pt">Количество: </label><div class="col-sm-8"><div class="input-group"><input id="ammount" name="ammount" type="number" value="0" min="0" class="form-control" onchange="getComponents2({{components}}, {{materials}});changeWater();return false;"><span class="input-group-addon">кг</span></div></div></div>

      <div class="form-group">
      <label for="composition" class="col-sm-2 control-label" style="font-size: medium; margin-left:10pt; margin-right:10pt">Рецепт: </label>
      <div class="col-sm-8">
      <select class="form-control" id="composition" name="composition" onchange="getListOfFormulas({{formulas}});getComponents2({{components}}, {{materials}});changeWater();return false;">
        {% for c in compositions %}
          <option value="{{ c.id }}">{{ c.get_name }}</option>
        {% endfor %}</select>
      </div>
      </div>
      <div class="form-group" id="compSel">
      <label for="formula" class="col-sm-2 control-label" style="font-size: medium; margin-left:10pt; margin-right:10pt">Состав: </label>
      <div class="col-sm-8">
      <select class="form-control" id="formula" name="formula" onchange="getComponents2({{components}}, {{materials}});changeWater();return false;">
      </select>
      </div>
      </div>
      </div>
      <input type="hidden" id="json" name="json" value="">
      <input type="submit" id="send" value="Сохранить" class="btn btn-primary" style="float: right; margin-bottom:0pt"/>
    </form>
      <div class="panel panel-default" style ="margin: auto; margin-top:50pt">
        <div class="panel-heading">
    </div>
    <div class="panel-body">
      <table class="table table-sm" id="materials" style="width:500pt; margin: auto">
        <thead>
          <tr>
            <th>Код</th><th>Наименование</th><th>Содержание, %</th><th style="visibility:collapse;width:1px">%</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ВД01</td>
            <td>Вода</td>
            <td id="water"><input type="number" name="ВД01" id="ВД01" value="100" onchange="saveTable();return false;" disabled></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>

  </div>
</div>
{% endblock content %}
