{% extends 'tables/base.html' %}
{% block content %}
<script type="text/javascript">
$(document).ready(function(){
  addValidation();
});
</script>
        <div class="panel panel-default" style ="margin: auto">
          <div class="panel-heading"><h4 class="panel-title"> {{ product.name }} </h4></div>
          {% if error_message %}
          <p><strong>{{ error_message }}</strong></p>
          {% endif %}
          <div class="panel-body">
            <div class="input-group" style ="margin: auto">
              <form action="save_product/" method="post">
                {% csrf_token %}
                <div id="two-column">
                  <div id="left">
                    <h5><b>Код:</b><h5>
                    <input type="text" class="form-control" placeholder="Код" size = "50" name = "code" value="{{product.code}}" required></p>
                    <br><br><br>
                    <h5><b>Наименование:</b></h5>
                    <input type="text" class="form-control" placeholder="Наименование" size = "50" name = "name" value="{{product.name}}" required></p>
                    <br><br><br>
                    <h5><b>Группа:</b><br></h5>
                    <p><select class="form-control" name="group">
                      {% for g in groups %}
                      {% if product.group == g %}
                      <option selected value="{{g.id}}">{{g.name}}</option>
                      {% else %}
                      <option value="{{g.id}}">{{g.name}}</option>
                      {% endif %}
                      {% endfor %}
                    </select></p></p>
                    <br><br><br>
                    <h5><b>Крышка:</b><br></h5>
                    <p><select class="form-control" name="cap">
                      {% for c in caps %}
                      {% if product.cap == c %}
                      <option selected value="{{c.id}}">{{c.name}}</option>
                      {% else %}
                      <option value="{{c.id}}">{{c.name}}</option>
                      {% endif %}
                      {% endfor %}
                    </select></p></p>
                    <br><br><br>
                    <h5><b>Форма:</b><br></h5>
                    <p><select class="form-control" name="form">
                      {% for f in forms %}
                      {% if product.form == f %}
                      <option selected value="{{f.id}}">{{f.name}}</option>
                      {% else %}
                      <option value="{{f.id}}">{{f.name}}</option>
                      {% endif %}
                      {% endfor %}
                    </select></p></p>
                  </div>
                  <div id="right">
                    <h5><b>Назначение:</b><br></h5>
                    <p><select class="form-control" name="use">
                      {% for u in uses %}
                      {% if product.use == u %}
                      <option selected value="{{u.id}}">{{u.name}}</option>
                      {% else %}
                      <option value="{{u.id}}">{{u.name}}</option>
                      {% endif %}
                      {% endfor %}
                    </select></p></p>
                    <br><br><br>
                    <h5><b>Варианты:</b><br></h5>
                    <p><select class="form-control" name="option">
                      {% for o in options %}
                      {% if product.option == o %}
                      <option selected value="{{o.id}}">{{o.name}}</option>
                      {% else %}
                      <option value="{{o.id}}">{{o.name}}</option>
                      {% endif %}
                      {% endfor %}
                    </select></p></p>
                    <br><br><br>
                    <h5><b>Тара:</b><br></h5>
                    <p><select class="form-control" name="container">
                      {% for c in containers %}
                      {% if product.container == c %}
                      <option selected value="{{c.id}}">{{c.name}}</option>
                      {% else %}
                      <option value="{{c.id}}">{{c.name}}</option>
                      {% endif %}
                      {% endfor %}
                    </select></p></p>
                    <br><br><br>
                    <h5><b>Уточнение:</b><br></h5>
                    <p><select class="form-control" name="detail">
                      {% for d in details %}
                      {% if product.detail == d %}
                      <option selected value="{{d.id}}">{{d.name}}</option>
                      {% else %}
                      <option value="{{d.id}}">{{d.name}}</option>
                      {% endif %}
                      {% endfor %}
                    </select></p></p>
                    <br><br><br>
                    <h5><b>Марка:</b><br></h5>
                    <p><select class="form-control" name="mark">
                      {% for m in marks %}
                      {% if product.mark == m %}
                      <option selected value="{{m.id}}">{{m.name}}</option>
                      {% else %}
                      <option value="{{m.id}}">{{m.name}}</option>
                      {% endif %}
                      {% endfor %}
                    </select></p></p>
                    <br><br><br>
                    <h5><b>Вес:</b></h5>
                    <input type="number" class="form-control" placeholder="Вес" value="{{product.weight}}" step="0.01" name = "weight" required></p>
                    <br><br><br><br>
                    <input type="submit" id="send" value="Сохранить" class="btn btn-primary" style="float: right"/>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
{% endblock content %}
