{% extends 'tables/base.html' %}
{% block content %}
    <script type="text/javascript">

        function updatePrice() {
            get_comp_price();
            $("#price").text(get_min_price() + '-' + get_max_price() + ' р.');
        }

        function updateFormulas(formulas) {
            var comp = $("[name='composition'] option:selected").prop('value');
            var compFormulas = [];
            for (var f in formulas) {
                if (formulas[f].composition == comp) {
                    compFormulas.push(formulas[f]);
                }
            }
            console.log(compFormulas);
            var code = '';
            for (f in compFormulas) {
                code = code + "<option data-price='" + compFormulas[f].price + "' value='" + compFormulas[f].pk + "'>" + compFormulas[f].name + "</option>";
            }
            $("[name='formula']").html(code);
        }

        function get_pack_price() {
            var boxingEl = $("[name='boxing'] option:selected")[0];
            var boxingPrice = $(boxingEl).data('price') * $("[name='boxingAmount']").prop('value');
            var stickerEl = $("[name='sticker'] option:selected")[0];
            var stickerPrice = $(stickerEl).data('price') * $("[name='stickerAmount']").prop('value');
            var contEl = $("[name='container'] option:selected")[0];
            var contPrice = $(contEl).data('price') * $("[name='contAmount']").prop('value');
            var capEl = $("[name='cap'] option:selected")[0];
            var capPrice = $(capEl).data('price') * $("[name='capAmount']").prop('value');
            var formulaPrice = $("[name='formula'] option:selected").data('price') * $("[name='compAmount']").prop('value');
            $("#contPrice").prop('value', contPrice.toFixed(2));
            $("#formulaPrice").prop('value', formulaPrice.toFixed(2));
            $("#capPrice").prop('value', capPrice.toFixed(2));
            $("#stickerPrice").prop('value', stickerPrice.toFixed(2));
            $("#boxPrice").prop('value', boxingPrice.toFixed(2));
            return boxingPrice + stickerPrice + contPrice + capPrice;
        }

        function get_comp_price() {
            var compEl = $("[name='composition'] option:selected")[0];
            var compPriceMax = $(compEl).data('max_price') * $("[name='compAmount']").prop('value') / 100;
            var compPriceMin = $(compEl).data('min_price') * $("[name='compAmount']").prop('value') / 100;
            $("#compPrice").prop('value', compPriceMin.toFixed(2) + '-' + compPriceMax.toFixed(2));
        }

        function get_max_price() {
            var compEl = $("[name='composition'] option:selected")[0];
            var compPrice = $(compEl).data('max_price') * $("[name='compAmount']").prop('value') / 100;
            return (compPrice + get_pack_price()).toFixed(2);
        }

        function get_min_price() {
            var compEl = $("[name='composition'] option:selected")[0];
            var compPrice = $(compEl).data('min_price') * $("[name='compAmount']").prop('value') / 100;
            return (compPrice + get_pack_price()).toFixed(2);
        }

        $(document).ready(function () {
            addValidation();
            updatePrice() ;
            /**
             * Скрыть или показать комплект
             */
            document.getElementById('closeButton').onclick = function () {
                if ($('#model').css('display') == 'none') {
                    $('#model').css('display', 'block');
                    $('#closeButton').html("<i class='glyphicon glyphicon-chevron-up'></i>");
                }
                else {
                    $('#model').css('display', 'none');
                    $('#closeButton').html("<i class='glyphicon glyphicon-chevron-down'></i>");
                }
            };
        });
    </script>
    <div class="panel panel-default" style="margin: auto">
        <div class="panel-heading"><h4 class="panel-title"> {{ product.name }} </h4></div>
        {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
        <div class="panel-body">
            <div class="input-group" style="margin: auto">
                <form action="save_product/" method="post">
                    {% csrf_token %}
                    <p>
                    <h3>Продукт</h3></p>
                    <hr>
                    <div id="two-column" style="width:80%;margin:auto">
                        <h5><b>Код:</b></h5>
                                <input type="text" class="form-control" placeholder="Код" size="50" name="code"
                                       value="{{ product.code }}" required></p>
                                <br><br><br>
                                <h5><b>Краткое наименование:</b></h5>
                                <input type="text" class="form-control" placeholder="Наименование" size="50" name="name"
                                       value="{{ product.name }}" required></p>
                                <br><br><br>
                                <h5><b>Группа:</b><br></h5>
                                <p><select class="form-control" name="group">
                                    {% for g in groups %}
                                        {% if product.group == g %}
                                            <option selected value="{{ g.id }}">{{ g.name }}</option>
                                        {% else %}
                                            <option value="{{ g.id }}">{{ g.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select></p>
                                </p>
                                <br><br><br>
                                <h5><b>Назначение:</b><br></h5>
                                <p><select class="form-control" name="use">
                                    {% for u in uses %}
                                        {% if product.use == u %}
                                            <option selected value="{{ u.id }}">{{ u.name }}</option>
                                        {% else %}
                                            <option value="{{ u.id }}">{{ u.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select></p>
                                </p>
                                <br><br><br>
                                <h5><b>Варианты:</b><br></h5>
                                <input type="text" class="form-control" placeholder="Варианты" size="80" name="option"
                                       value="{{ product.option }}"></p>
                                <br><br><br>
                                <h5><b>Уточнение:</b><br></h5>
                                <input type="text" class="form-control" placeholder="Уточнение" size="80" name="detail"
                                       value="{{ product.detail }}"></p>
                                <br><br><br>
                                <h5><b>Марка:</b><br></h5>
                                <p><select class="form-control" name="mark">
                                    {% for m in marks %}
                                        {% if product.mark == m %}
                                            <option selected value="{{ m.id }}">{{ m.name }}</option>
                                        {% else %}
                                            <option value="{{ m.id }}">{{ m.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select></p>
                                </p>
                    </div>
                    <br>
                    <p>
                    <h3 style="margin-top:40pt">Комплект
                        <button type="button" class="btn btn-default" id="closeButton"><i
                                class="glyphicon glyphicon-chevron-down"></i></button>
                    </h3>
                    </p>
                    <hr>
                    <div id="model" style="display: none">
                        <div id="two-column" style="display:inline-block">
                            <div id="left">
                                <h5><b>Рецепт:</b><br></h5>
                                <p><select class="form-control" onchange="updateFormulas({{ formulas_json }});updatePrice();" name="composition">
                                    {% for c in compositions %}
                                        {% if product.production.composition == c %}
                                            <option data-min_price="{{c.min_price}}" data-max_price="{{c.max_price}}" selected value="{{ c.id }}">{{ c.code }} {{ c.name }}</option>
                                        {% else %}
                                            <option data-max_price="{{c.max_price}}" data-min_price="{{c.min_price}}" value="{{ c.id }}">{{ c.code }} {{ c.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                </p>
                            <br><br><br>
                            <h5><b>Вариант состава:</b><br></h5>
                                <p><select class="form-control" onchange="updatePrice()" name="formula">
                                    {% for f in formulas %}
                                        {% if product.production.formula == f %}
                                            <option  data-price="{{f.price}}" selected value="{{ f.id }}">{{ f.get_name2 }}</option>
                                        {% else %}
                                            <option data-price="{{f.price}}" value="{{ f.id }}">{{ f.get_name2 }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                </p>
                                <br><br><br>
                                <h5><b>Тара:</b><br></h5>
                                <p><select class="form-control" onchange="updatePrice()" name="container">
                                    {% for c in containers %}
                                        {% if product.production.container == c %}
                                            <option data-price="{{ c.price }}" selected value="{{ c.id }}">{{ c.code }} {{ c }}</option>
                                        {% else %}
                                            <option data-price="{{ c.price }}" value="{{ c.id }}">{{ c.code }} {{ c }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select></p>
                                </p>
                                <br><br><br>
                                <h5><b>Укупорка:</b><br></h5>
                                <p><select class="form-control" onchange="updatePrice()" name="cap">
                                    {% for c in caps %}
                                        {% if product.production.cap == c %}
                                            <option data-price="{{ c.price }}" selected value="{{ c.id }}">{{ c.code }} {{ c }}</option>
                                        {% else %}
                                            <option data-price="{{ c.price }}" value="{{ c.id }}">{{ c.code }} {{ c }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select></p>
                                </p>
                                <br><br><br>
                                <h5><b>Этикетка:</b><br></h5>
                                <p><select class="form-control" onchange="updatePrice()" name="sticker">
                                    {% for s in stickers %}
                                        {% if product.production.sticker == s %}
                                            <option data-price="{{ s.price }}" selected value="{{ s.id }}">{{ s.code }} {{ s }}</option>
                                        {% else %}
                                            <option data-price="{{ s.price }}" value="{{ s.id }}">{{ s.code }} {{ s }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select></p>
                                </p>
                                <br><br><br>
                                <h5><b>Упаковка:</b><br></h5>
                                <p><select class="form-control" onchange="updatePrice()" name="boxing">
                                    {% for b in boxing %}
                                        {% if product.production.boxing == b %}
                                            <option data-price="{{ b.price }}" selected value="{{ b.id }}">{{ b.code }} {{ b }}</option>
                                        {% else %}
                                            <option data-price="{{ b.price }}" value="{{ b.id }}">{{ b.code }} {{ b }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select></p>
                                </p>
                                <br><br><br>
                            </div>
                            <div id="right" style="width:20%;float:left;margin-left:2%">
                                <h5><b>Кол-во в фасовке:</b></h5>
                                <input type="number" class="form-control" placeholder="Кол-во в фасовке композиции"
                                       step="0.01" onchange="updatePrice()" name="compAmount" value="{{ product.production.compAmount }}"
                                       required></p>
                                <br><br><br>
                                <br><br><br><br>
                                <h5 style="margin-top: 25px;"><b>Кол-во в фасовке:</b></h5>
                                <input type="number" class="form-control" placeholder="Кол-во в фасовке тары"
                                       step="0.01" onchange="updatePrice()" name="contAmount" value="{{ product.production.contAmount }}"
                                       required></p>
                                <br><br><br>
                                <h5><b>Кол-во в фасовке:</b></h5>
                                <input type="number" class="form-control" placeholder="Кол-во в фасовке укупорки"
                                       step="0.01" onchange="updatePrice()" name="capAmount" value="{{ product.production.capAmount }}"
                                       required></p>
                                <br><br><br>
                                <h5><b>Кол-во в фасовке:</b></h5>
                                <input type="number" class="form-control" placeholder="Кол-во в фасовке этикеток"
                                       step="0.01" onchange="updatePrice()" name="stickerAmount" value="{{ product.production.stickerAmount }}"
                                       required></p>
                                <br><br><br>
                                <h5><b>Кол-во в фасовке:</b></h5>
                                <input type="number" class="form-control" placeholder="Кол-во в фасовке упаковки"
                                       step="0.001" onchange="updatePrice()" name="boxingAmount" value="{{ product.production.boxingAmount }}"
                                       required></p>
                                <br><br><br>
                            </div>
                            <div id="right" style="width:10%;float:left;margin-left:2%">
                                <h5><b>Ед. изм.:</b><br></h5>
                                <p><select class="form-control" name="compUnit">
                                    {% for u in units %}
                                        {% if u == product.production.compUnit %}
                                            <option value="{{ u.id }}" selected>{{ u.name }}</option>
                                        {% else %}
                                            <option value="{{ u.id }}">{{ u.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select></p>
                                </p>
                                <br><br><br>
                                <br><br><br><br>
                                <h5 style="margin-top: 25px;"><b>Ед. изм.:</b><br></h5>
                                <p><select class="form-control" name="contUnit">
                                    {% for u in units %}
                                        {% if u == product.production.contUnit %}
                                            <option value="{{ u.id }}" selected>{{ u.name }}</option>
                                        {% else %}
                                            <option value="{{ u.id }}">{{ u.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select></p>
                                </p>
                                <br><br><br>
                                <h5><b>Ед. изм.:</b><br></h5>
                                <p><select class="form-control" name="capUnit">
                                    {% for u in units %}
                                        {% if u == product.production.capUnit %}
                                            <option value="{{ u.id }}" selected>{{ u.name }}</option>
                                        {% else %}
                                            <option value="{{ u.id }}">{{ u.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select></p>
                                </p>
                                <br><br><br>
                                <h5><b>Ед. изм.:</b><br></h5>
                                <p><select class="form-control" name="stickerUnit">
                                    {% for u in units %}
                                        {% if u == product.production.stickerUnit %}
                                            <option value="{{ u.id }}" selected>{{ u.name }}</option>
                                        {% else %}
                                            <option value="{{ u.id }}">{{ u.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select></p>
                                </p>
                                <br><br><br>
                                <h5><b>Ед. изм.:</b><br></h5>
                                <p><select class="form-control" name="boxingUnit">
                                    {% for u in units %}
                                        {% if u == product.production.boxingUnit %}
                                            <option value="{{ u.id }}" selected>{{ u.name }}</option>
                                        {% else %}
                                            <option value="{{ u.id }}">{{ u.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select></p>
                                </p>
                            </div>
                        <div id="right" style="width:10%;float:left;margin-left:2%">
                                <h5><b>Цена:</b><br></h5>
                                <input id="compPrice" type="text" onchange="updatePrice()" class="form-control"  value="0"
                                       readonly>
                                <br><br><br>
                                <h5><b>Цена:</b><br></h5>
                                <input id="formulaPrice" type="text" onchange="updatePrice()" class="form-control"  value="0"
                                       readonly>
                                <br><br><br>
                                <h5><b>Цена:</b><br></h5>
                                <input id="contPrice" type="text" onchange="updatePrice()" class="form-control"  value="0"
                                       readonly>
                                <br><br><br>
                                <h5><b>Цена:</b><br></h5>
                                <input id="capPrice" type="text" onchange="updatePrice()" class="form-control"  value="0"
                                       readonly>
                                <br><br><br>
                                <h5><b>Цена:</b><br></h5>
                                <input id="stickerPrice" type="text" onchange="updatePrice()" class="form-control"  value="0"
                                       readonly>
                                <br><br><br>
                                <h5><b>Цена:</b><br></h5>
                                <input id="boxPrice" type="text" onchange="updatePrice()" class="form-control"  value="0"
                                       readonly>
                            </div>
                        </div>
                    <hr>
                    <p style="font-size: 14pt;">Цена <span id="price" style="float:right;margin-right: 10px">0р</span></p>
                    </div>
                    <hr>
                    <input type="submit" id="send" value="Сохранить" class="btn btn-primary" style="float: right"/>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
