{% extends 'tables/base.html' %}
{% block content %}
<form action="get_group/" method="POST" class="form-inline">
  {% csrf_token %}
 Фильтр по группе:
 <select class="form-control" name="group1">
   {% for g in groups %}
   <option value="{{ g.id }}">{{ g.name }}</option>
   {% endfor %}</select>
   <input type="submit" class="btn btn-default" value="Применить" class="form-control"><a href="/tables/products/"> <button type="button" class="btn btn-default">Сбросить</button></a>
</form>
  <form action="del_product/" method="post">
    {% csrf_token %}
          <a href="new_product/"><button type="button" class="btn btn-default">Добавить запись</button></a>
          <input type="submit" class="btn btn-default" value="Удалить">
          <br><br>
          {% if products %}
              <table class="table table-sm" style="font-size: 110%;">
                <thead>
                  <tr>
                    <th></th><th>Код</th><th>Наименование</th><th>Группа</th><th>Форма</th><th>Назначение</th><th>Варианты</th><th>Уточнение</th><th>Марка</th>
                  </tr>
                </thead>
                <tbody>
                  {% for p in products %}
                  <tr>
                    <td><input type="checkbox" value="{{ p.id }}" name="del_list"></td>
                    <td>{{ p.code }}</td>
                    <td onClick="window.location.href='/tables/products/{{ p.id }}/'">{{ p.name }}</td>
                    <td>{{ p.group.name }}</td>
                    <td>{{ p.form.name }}</td>
                    <td>{{ p.use.name }}</td>
                    <td>{{ p.option.name }}</td>
                    <td>{{ p.detail.name }}</td>
                    <td>{{ p.mark.name }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% else %}
              <p>No materials are available right now.</p>
              {% endif %}
  {% endblock content %}
