{% extends 'processes/base.html' %}
{% block content %}
<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
function addComp(mat_id, amm, mat_code, isCompl){
  var csrftoken = getCookie('csrftoken');
  $.ajax({
        type: "POST",
        url: 'add_comp/',
        data: {
          'mat_id': mat_id,
          'amm': amm,
          'type': isCompl
        },
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },
        success: function onAjaxSuccess()
        {
          var obj = document.getElementById(mat_code);
          obj.parentElement.children[4].textContent = amm;
          obj.parentElement.classList.add("success");
          obj.parentElement.children[0].innerHTML = "<span class='glyphicon glyphicon-ok' aria-hidden='true' style='color: white; text-shadow: black 0 0 2px;'></span>";
          obj.parentElement.children[5].innerHTML = "<button class='btn btn-default' data-toggle='modal' data-target='#addComp' data-code="+ mat_code +" data-type='add' data-amm=" + amm + " data-mat=" + mat_id + " data-isCompl=" + isCompl + "><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></button>";
          /*$("#"+mat_code).parent().find("td").eq(4).text(amm);
          $("#"+mat_code).parent().attr("class", "success");
          $("#"+mat_code).parent().find("td").eq(0).html("<span class='glyphicon glyphicon-ok' aria-hidden='true' style='color: white; text-shadow: black 0 0 2px;'></span>")
          $("#"+mat_code).parent().find("td").eq(5).html("<button class='btn btn-default' data-toggle='modal' data-target='#addComp' data-code="+ mat_code +" data-type='add' data-amm=" + amm + " data-mat=" + mat_id + " data-isCompl=" + isCompl + "><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></button>");*/
          getAmmount();
          $("#type").attr("value", "");
        }
      });
}

function getMatAmm(mat_code, add){
  var type = $("#type").val();
  if ($("#type").val()=="add") {
    var old = document.getElementById(mat_code).textContent;
    return parseFloat(old) + parseFloat(add);
  }
  else return $("#compAmm").val();
};

$(document).ready(function(){
  getAmmount();
  $('#addComp').on('show.bs.modal', function (event) {
    // получить кнопку, которая его открыло
    var button = $(event.relatedTarget)[0];
    var code = button.dataset.code;
    var mat = button.dataset.mat;
    var amm = button.dataset.amm;
    var isCompl = button.dataset.iscompl;
    $(this).find('#matCode').text(code);
    $(this).find('#type').attr("value", button.dataset.type);
    $(this).find('#compAmm').attr("value", amm);
    $(this).find('#mat_id').attr("value", mat);
    $(this).find('#isCompl').attr("value", isCompl);
  })
});

</script>

<ul class="steps steps-5" style="margin-left: 0">
  <li><a href="#" title=""><em>Ожидание</em></a></li>
  <li><a href="#" title=""><em>Запущен</em></a></li>
  <li class="current"><a href="#" title=""><em>Смешение</em></a></li>
  <li><a href="#" title=""><em>Тестирование</em></a></li>
  <li><a href="#" title=""><em>Завершён</em></a></li>
</ul>

<form action="testing/" id="f" method="POST">{% csrf_token %}<input type="hidden" id="list_amm" name="list_amm" value=""></form>
<button type="button" class="btn btn-success" onclick="$('#f').submit();" style="margin-bottom: 5pt"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>  Закончить смешение</button>
<!--<button type="button" class="btn btn-default" data-toggle="modal" data-target="#editList" style="margin-bottom: 5pt"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Редактировать загрузочный лист</button>-->
<a href="stop_process/"><button type="button" class="btn btn-danger" style="margin-bottom: 5pt"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>  Прервать процесс</button></a>
<div class="panel panel-default" style ="margin: auto">
  <div class="panel-heading">
      <h4 class="panel-title"><b>Процесс № {{p.id}}</b></h4>
  </div>
  {% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
  {% endif %}

<div class="panel-body">

  <div class="input-group" style ="margin: left; margin-left:10pt">
    <!--<form action="save_process/" id="form" method="post" class="form-horizontal">-->
      {% csrf_token %}
      <div class="col-sm-3">
        <h5><p><b>Дата начала: </b></p></div></h5>
          <div class="col-sm-7">
          <h5><p>{{p.start_date|date:"d.m.Y"}}</p></div>
          <div class="col-sm-3">
          <h5><p><b>Дата конца: </b></p></div>
          <div class="col-sm-7">
          <h5><p>{{p.finish_date|date:"d.m.Y"}}</p>
          </div>
          <div class="col-sm-3">
          <h5><p><b>Реактор: </b></p></h5></div>
          <div class="col-sm-7">
          <h5><p>{{p.reactor}}</p></h5>
          </div>
          <div class="col-sm-3">
          <h5><p><b>Состав: </b></p></h5></div>
          <div class="col-sm-7">
          <h5><p>{{p.list}}</p></h5>
          </div>
          <div class="col-sm-3">
          <h5><p><b>Объём: </b></p></h5></div>
          <div class="col-sm-7">
          <h5><p id="textAmm">{{p.list.ammount}} кг</p></h5>
          </div>
      </div>


      </div>
      <div class="modal fade" id="addComp">
        <div class="modal-dialog modal-sm" >
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" data-dismiss="modal">x</button>
              <h4 id="matCode"></h4>
            </div>
            <div class="modal-body">
              <input id="ammount" name="ammount" type="number" value="{{p.list.ammount}}" min="0" class="form-control" hidden>
              <div class="form-group">Количество: <input type="number" id="compAmm" step="0.01"> кг</div>
              <input type="hidden" id="mat_id" value="">
              <input type="hidden" id="type" value="">
              <input type="hidden" id="isCompl" value="">
              <div class="modal-footer">
                <input value="Добавить" onclick="addComp($('#mat_id').val(), getMatAmm($('#matCode').text(), $('#compAmm').val()), $('#matCode').text(), $('#isCompl').val());return false;" class="btn btn-primary" data-dismiss="modal" style="float: right"/> </div>
              </div>
            </div>
    </div>
  </div>
    <div class="panel panel-default" style ="margin: auto">
    <div class="panel-heading">
        <h4 class="panel-title">Загрузочный лист</h4>
    </div>
    <div class="panel-body">
    <table class="table table-sm" id="materials2" style="width:100%; margin: auto">
      <thead>
        <tr>
          <th></th><th>Код</th><th>Наименование</th><th>Количество, кг</th><th>Добавлено, кг</th><th></th><th></th>
        </tr>
      </thead>
      <tbody>
        {% for c in comp %}
          {% if c.loaded == True %}
            {% if c.mat == None %}
              <tr class="success"><td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: white; text-shadow: black 0 0 2px;"></span></td><td>{% spaceless %}{{c.compl.code}}{% endspaceless %}</td><td>{{c.compl.name}}</td><td>{{c.ammount}}</td><td id="{% spaceless %}{{c.compl.code}}{% endspaceless %}">{{c.ammount}}</td><td><button class="btn btn-default" data-toggle="modal" data-target="#addComp" data-isCompl="compl" data-code="{% spaceless %}{{c.compl.code}}{% endspaceless %}" data-type="add" data-amm="{{c.ammount}}" data-mat="{{c.compl.id}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td></tr>
            {% else %}
              <tr class="success"><td><span class="glyphicon glyphicon-ok" aria-hidden="true" style="color: white; text-shadow: black 0 0 2px;"></span></td><td>{{c.mat.code}}</td><td>{{c.mat.name}}</td><td>{{c.ammount}}</td><td id="{{c.mat.code}}">{{c.ammount}}</td><td><button class="btn btn-default" data-toggle="modal" data-target="#addComp" data-isCompl="" data-code="{{c.mat.code}}" data-type="add" data-amm="{{c.ammount}}" data-mat="{{c.mat.id}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button></td></tr>
            {% endif %}
          {% else %}
            {% if c.mat == None %}
              <tr><td></td><td>{% spaceless %}{{c.compl.code}}{% endspaceless %}</td><td>{{c.compl.name}}</td><td>{{c.ammount}}</td><td id="{% spaceless %}{{c.compl.code}}{% endspaceless %}"><button class="btn btn-default" data-toggle="modal" data-target="#addComp" data-code="{% spaceless %}{{c.compl.code}}{% endspaceless %}" data-amm="{{c.ammount}}" data-mat="{{c.compl.id}}" data-isCompl="compl">Добавить</button></td><td></td></tr>
            {% else %}
              <tr><td></td><td>{{c.mat.code}}</td><td>{{c.mat.name}}</td><td>{{c.ammount}}</td><td id="{{c.mat.code}}"><button class="btn btn-default" data-toggle="modal" data-target="#addComp" data-code="{{c.mat.code}}" data-amm="{{c.ammount}}" data-mat="{{c.mat.id}}" data-isCompl="">Добавить</button></td><td></td></tr>
            {% endif %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock content %}
