{% extends 'processes/base.html' %}
{% block content %}
<style>
   hr {
    margin-top: 4pt;
    margin-bottom: 4pt;
    border: none; /* Убираем границу */
    background-color: #D3D3D3; /* Цвет линии */
    color: #D3D3D3; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
   }
  </style>
<script type="text/javascript">
$(document).ready(function(){
  var dp = $('#datepicker');
  dp.datepicker({
    format: "mm/yyyy",
    language: "ru",
    viewMode: "months",
    minViewMode: "months"
  });
  $('#formula').trigger("change");
  addValidation();
  document.getElementById('closeButton').onclick=function(){
    if ($('#materialsPanel').css('display') == 'none'){
      $('#materialsPanel').css('display', 'block');
      $('#closeButton').html("<i class='glyphicon glyphicon-chevron-up'></i>");
    }
    else {
      $('#materialsPanel').css('display', 'none');
      $('#closeButton').html("<i class='glyphicon glyphicon-chevron-down'></i>");
    }
  }

//  $("#loadList input").attr("onchange", "changeMatAm({{compl_comp_comps}});return false;");
});</script>


<div class="panel panel-default" style ="margin: auto">
  <div class="panel-heading">
      <h4 class="panel-title">Добавление процесса</h4>
  </div>
  <div id="datepicker" data-date="12/03/2012"></div>
  <input type="hidden" id="my_hidden_input">
  </div>
{% endblock content %}
