{% extends 'processes/base.html' %}
{% block content %}
<script type="text/javascript">
$(document).ready(function(){
  var dp = $('#datepicker');
  dp.datepicker({
    format: "dd/mm/yyyy",
    language: "ru",
    startDate: "today",
    todayHighlight: true
  });
  $('#formula').trigger("change");
  addValidation();
});</script>

<div class="panel panel-default" style ="margin: auto">
  <div class="panel-heading">
      <h4 class="panel-title">Добавление процесса</h4>
  </div>
  {% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
  {% endif %}
<div class="panel-body">
  <div class="input-group" style ="margin: auto">
    <form action="save_process/" method="post" class="form-horizontal">
      {% csrf_token %}
      <div class="form-group">
        <label for="process" class="col-sm-2 control-label" style="font-size: medium">Процесс: </label>
        <div class="col-sm-10">
        <select class="form-control" id="process" name="process">
          <option value="1" selected>Смешение</option>
          <option value="2">Фасовка</option>
          </select>
        </div>
        </div>
        <div class="input-daterange input-group" id="datepicker">
          <div class="form-group"><label for="start" class="col-sm-2 control-label" style="font-size: medium">Дата начала: </label>
          <div class="col-sm-10"><input type="text" data-provide="datepicker" class="input-sm form-control" name="start" /></div></div>
          <div class="form-group"><label for="end" class="col-sm-2 control-label" style="font-size: medium">Дата конца: </label>
          <div class="col-sm-10"><input type="text" data-provide="datepicker" class="input-sm form-control" name="end" /></div>
        </div>
        </div>
  <div class="form-group"><label for="ammount" class="col-sm-2 control-label" style="font-size: medium">Объём: </label><div class="col-sm-10"><div class="input-group"><input id="ammount" name="ammount" type="number" value="0" min="0" class="form-control" onchange="changeMinMax({{components}}, {{f}});changeWater();return false;" value="{{list.ammount}}"><span class="input-group-addon">кг</span></div></div>
</div>
<div class="form-group">
  <label for="formula" class="col-sm-2 control-label" style="font-size: medium">Реактор: </label>
  <div class="col-sm-10">
  <select class="form-control" id="reactor" name="reactor">
    {% for r in reactors %}
    <option value="{{ r.id }}">{{ r }}</option>
    {% endfor %}</select>
  </div>
</div>
      <div class="form-group">
        <label for="formula" class="col-sm-2 control-label" style="font-size: medium">Состав: </label>
        <div class="col-sm-10">
        <select class="form-control" id="formula" name="formula" onchange="getComponents({{components}}, {{materials}}, {{f_c}}, {{f}});changeWater();return false;">
          {% for f in formulas %}
          <option value="{{ f.id }}">{{ f }}</option>
          {% endfor %}</select>
        </div>
      </div>
      <br><br>
      <table class="table table-sm" id="materials" style="width:100%; margin: auto">
        <thead>
          <tr>
            <th>Код</th><th>Наименование</th><th>Минимум, кг</th><th>Максимум, кг</th><th>Количество, кг</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ВД01</td>
            <td>Вода</td>
            <td>-</td>
            <td>-</td>
            <td id="water"></td>
          </tr>
        </tbody>
      </table>
      <br>
      <input type="hidden" id="json" name="json" value="">
      <input type="submit" id="send" value="Сохранить" class="btn btn-primary" style="float: right"/>
  </div>
  </form>
</div>
</div>
{% endblock content %}
