{% load staticfiles %}
<head>
  <script src="{% static 'scripts/jquery-3.2.1.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap2.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/tables.css' %}">
  <link rel="stylesheet" href="{% static 'css/style3.css' %}">
  <link rel="stylesheet" href="{% static 'css/breadcrumb3.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.css' %}">
  <script src="{% static 'scripts/jquery.tabletojson.js' %}"></script>
  <script src="{% static 'scripts/validation5.js' %}"></script>
  <script src="{% static 'scripts/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'scripts/bootstrap-datepickerrumin.js' %}"></script>
  <script src="{% static 'scripts/jquery.tablesorter.js' %}"></script>
  <script type="text/javascript">
  </script>
  <style type="text/css">

  @page :left {
    margin: 0.15cm 1cm 0cm 1cm; /* Отступы для всех левых страниц */
   }
   @page :right {
    margin: 0.15cm 1cm 0cm 1cm; /* Отступы для всех правых страниц */
   }

    @media print {
      #printBtn {
        display:none;
      }

      .info {
        page-break-inside: avoid;
      }
      .info2 {
        page-break-inside: avoid;
      }
      .comps {
        page-break-inside: avoid;
      }
      .compsHeader {
        page-break-after: avoid;
      }
      .sign {
        page-break-inside: avoid;
      }
      .pagebreak {
        page-break-after: auto;
      }
      .headerTr {
        margin-top: 0pt;
      }

    }
    th {
      background-color: grey;
      text-align: center;
    }
  </style>
  <script type="text/javascript">
  function getNowDate(){
    var now = new Date();
    month = now.getMonth()+1;
    if (month < 10){
      month = '0' + month;
    }
    day = now.getDate();
    if (day < 10){
      day = '0' + day;
    }
    text = day + "." + month + "." + now.getFullYear();
    return text;
  }

  function getPlan(){
    plans = $("#plans").prop("value");
    jsPlan = JSON.parse(JSON.parse(plans));
    for (obj in jsPlan){
      if ("{{date}}" == jsPlan[obj].fields.month) $("#" + jsPlan[obj].fields.prod).text(jsPlan[obj].fields.num);
    }
    countUnits();
  }

  function changeWeek(){
    date = "{{date}}";
    day = date.split("/")[0];
    year = date.split("/")[2];
    month = date.split("/")[1];
    newDate = new Date(parseInt(year), parseInt(month)-1, parseInt(day));
    endD = newDate;
    endD.setDate(endD.getDate() + 6);
    var mm = endD.getMonth() + 1; // месяц 1-12
    if (mm < 10) mm = '0' + mm;
    $("#period").text("Производственное задание на период с " + day + "."+ month + "." + year + " по " + endD.getDate() + "." + mm + "." + endD.getFullYear());
  }

  function countUnits(){
    count = 0;
    allAmm = 0;
    var length = $("#prod").find('tr').length;
    for (i=1; i < length-2; i++){
      unit = $("#prod").find('tr').eq(i).find('td').eq(3).text();
      if (unit == undefined || unit == ""){
        unit = 0;
      }
      amm = $("#prod").find('tr').eq(i).find('td').eq(2).text();
      count = count + parseInt(unit);
      allAmm = allAmm + parseInt(unit) * parseFloat(amm);
    }
    $("#prod").find('tr').eq(length-2).find('td').eq(1).text(count);
    $("#prod").find('tr').eq(length-1).find('td').eq(1).text((allAmm * 0.001).toFixed(2));
  }
  $(document).ready(function(){
    changeWeek();
    $("#nowDate").text(getNowDate());
    countUnits();
    getPlan();
  //  $("#loadList input").attr("onchange", "changeMatAm({{compl_comp_comps}});return false;");
  });</script>
</head>
<body>
  <div class="passport">
    <h4 id="period" style ="text-align: center; margin-bottom: 0;font-weight:bold">Производственное задание на период с  </h2>
    <div class="sign">
    <div style="margin-top:0pt;margin-left:0pt;font-size:12pt;float:left">Утверждено</div>
    <div style="margin-top:0pt;margin-left:538pt;font-size:12pt;">Гулай О.С.</div>
    <div style="margin-top:0pt;margin-left:0pt;font-size:12pt;float:left;">Дата</div>
    <div id="nowDate" style="margin-top:0pt;margin-left:538pt;font-size:12pt;"></div>
    </div>
    <input type="hidden" id="plans" name="plans" value="{{plans}}">
    <div style="margin-top:0pt;margin-left:0pt;margin-right:0pt" class="prod">
    <table class="table table-hover table-sm table-bordered pagebreak table-condensedtable-striped" style="font-size:11pt;" id="prod">
      <thead class="headerTr thead-default" style="background-color: grey;text-align: center;">
        <tr>
          <th style="padding: 1px;font-weight:bold;color:black">Код</th><th style="padding: 1px;">Наименование продукции</th><th style="padding: 1px;">Вес ед, кг</th><th style="padding: 1px;">Кол-во единиц</th>
        </tr>
      </thead>
      <tbody>
        {% for p in products %}
        <tr><td style="padding: 1px;">{{p.code}}</td><td style="padding: 1px;">{{p.get_name_for_table}}</td><td style="padding: 1px;">{{p.production.compAmount}}</td><td style="padding: 1px;" id="{{p.id}}"></td></tr>
        {% endfor %}
        <tr><td colspan="3" style="padding: 0px;"><b>Итого, штуки</b></td><td style="padding: 0px;"><b>0</b></td></tr>
        <tr><td colspan="3" style="padding: 0px;"><b>Итого, тонны</b></td><td style="padding: 0px;"><b>0</b></td></tr>
      </tbody>
    </table>
    </div>

    <button id="printBtn" type="button" style="margin-top:10pt;margin-left:40pt;float:right;" class="btn btn-info" onclick="window.print();">Печать</button>
  </div>

</body>
