{% load staticfiles %}
<head>
  <script src="{% static 'scripts/jquery-3.2.1.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/bootstrap2.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/tables.css' %}">
  <link rel="stylesheet" href="{% static 'css/style3.css' %}">
  <link rel="stylesheet" href="{% static 'css/breadcrumb3.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.css' %}">
  <script src="{% static 'scripts/jquery.tabletojson.js' %}"></script>
  <script src="{% static 'scripts/validation5.js' %}"></script>
  <script src="{% static 'scripts/bootstrap-datepicker.js' %}"></script>
  <script src="{% static 'scripts/bootstrap-datepickerrumin.js' %}"></script>
  <script src="{% static 'scripts/jquery.tablesorter.js' %}"></script>
  <script type="text/javascript">
  </script>
  <style type="text/css">
  @page :left {
    margin: 0.7cm 1cm 1cm 1cm; /* Отступы для всех левых страниц */
   }
   @page :right {
    margin: 0.7cm 1cm 1cm 1cm; /* Отступы для всех правых страниц */
   }

    @media print {
      #printBtn {
        display:none;
      }
      .num {
        display: none;
      }
      .info {
        page-break-inside: avoid;
      }
      .info2 {
        page-break-inside: avoid;
      }
      .comps {
        page-break-inside: avoid;
      }
      .compsHeader {
        page-break-after: avoid;
      }
      .sign {
        page-break-inside: avoid;
      }
      .pagebreak {
        page-break-after: auto;
      }
      .headerTr {
        margin-top: 0pt;
      }
    }
    th {
      background-color: grey;
      text-align: center;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
    }
  </style>
  <script type="text/javascript">
  function getNowDate(){
    var now = new Date();
    month = now.getMonth()+1;
    if (month < 10){
      month = '0' + month;
    }
    day = now.getDate();
    if (day < 10){
      day = '0' + day;
    }
    text = day + "." + month + "." + now.getFullYear();
    return text;
  }

  function getPlan(){
    plans = $("#plans").prop("value");
    jsPlan = JSON.parse(JSON.parse(plans));
    for (obj in jsPlan){
      if ("{{date}}" == jsPlan[obj].fields.month) $("#" + jsPlan[obj].fields.prod).text(jsPlan[obj].fields.num);
    }
    countUnits();
  }

  function changeMonth(){
    date = "{{date}}";
    year = date.split("/")[1];
    month = date.split("/")[0];
    newDate = new Date(parseInt(year), parseInt(month)-1, 1);
    //daysInMonth = 32 - new Date(newDate.getFullYear(), newDate.getMonth(), 32).getDate();
    monthes = ['январь', 'февраль', 'март', 'апрель', 'май', 'июнь', 'июль', 'август', 'сентябрь', 'октябрь', 'ноябрь', 'декабрь'];
    $("#period").text("Производственный план на " + monthes[month-1] + " " + year + " г.");
  }

  function countUnits(){
    count = 0;
    allAmm = 0;
    var length = $("#prod").find('tr').length;
    for (i=1; i < length-2; i++){
      unit = $("#prod").find('tr').eq(i).find('td').eq(3).text();
      if (unit == undefined || unit == ""){
        unit = 0;
      }
      amm = $("#prod").find('tr').eq(i).find('td').eq(5).text();
      count = count + parseInt(unit);
      allAmm = allAmm + parseInt(unit) * parseFloat(amm);
      $("#prod").find('tr').eq(i).find('td').eq(6).text((unit * amm).toFixed(2));
    }
    $("#prod").find('tr').eq(length-2).find('td').eq(3).text(count);
    $("#prod").find('tr').eq(length-1).find('td').eq(3).text((allAmm * 0.001).toFixed(2));
  }
  $(document).ready(function(){
    changeMonth();
    $("#nowDate").text(getNowDate());
    countUnits();
    getPlan();
    $('.table tbody tr').each(function(i) {
      length = $("#prod").find('tr').length;
      if (i < length-3){
        var number = i + 1;
        $(this).find('td:first').text(number);
      }
    });
  //  $("#loadList input").attr("onchange", "changeMatAm({{compl_comp_comps}});return false;");
  });</script>
</head>
<body>
  <div class="passport">
    <h4 id="period" style ="text-align: center; margin-bottom: 0;font-weight:bold;">Производственный план на период с </h2>
    <div class="sign">
    <div style="margin-top:0pt;margin-left:0pt;font-size:12pt;float:left">Утверждено</div>
    <div style="margin-top:0pt;margin-left:538pt;font-size:12pt;">Юзов В.А.</div>
    <div style="margin-top:0pt;margin-left:0pt;font-size:12pt;float:left;">Дата</div>
    <div id="nowDate" style="margin-top:0pt;margin-left:538pt;font-size:12pt;"></div>
    </div>
    <input type="hidden" id="plans" name="plans" value="{{plans}}">
    <div style="margin-top:0pt;margin-left:0pt;margin-right:0pt;font-size:11pt;" class="prod">
    <table class="table table-hover table-sm table-bordered pagebreak table-condensed table-striped" style="font-size:11pt;" id="prod">
      <thead class="headerTr">
        <tr>
          <th style="padding: 1px;font-weight:bold;color:black">№</th><th style="padding: 1px;">Код</th><th style="padding: 1px;">Наименование продукции</th><th style="padding: 1px;">Кол-во единиц</th><th style="padding: 1px;"  class="num">Кол-во в упаковке, шт</th><th style="padding: 1px;"  class="num">Вес ед., кг</th><th style="padding: 1px;">Общий вес, кг</th>
        </tr>
      </thead>
      <tbody>
        {% for p in products|dictsort:"get_name_for_table" %}
        <tr><td style="padding: 1px;"></td><td style="padding: 1px;">{{p.code}}</td><td style="padding: 1px;">{{p.get_name_for_table}}</td><td style="padding: 1px;text-align: right;" id="{{p.id}}"></td><td style="padding: 1px;text-align: right;"  class="num">{{p.production.get_boxing_amm}}</td><td style="padding: 1px;text-align: right;"  class="num">{{p.production.compAmount}}</td><td style="padding: 1px;text-align: right;">0</td></tr>
        {% endfor %}
        <tr><td style="padding: 1px;" colspan="4"><b>Итого, штуки</b></td><td class="num"></td><td class="num"></td><td style="padding: 1px;text-align: right;"><b>0</b></td></tr>
        <tr><td style="padding: 1px;" colspan="4"><b>Итого, тонны</b></td><td class="num"></td><td class="num"></td><td style="padding: 1px;text-align: right;"><b>0</b></td></tr>
      </tbody>
    </table>
    </div>

    <button id="printBtn" type="button" style="margin-top:10pt;margin-left:40pt;float:right;" class="btn btn-info" onclick="window.print();">Печать</button>
  </div>

</body>
