{% extends 'processes/base.html' %}
{% block content %}
<script type="text/javascript">

$(document).ready(function(){
  $('#formula').trigger("change");
});</script>
<button type="button" class="btn btn-success" style="margin-bottom: 5pt"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>Запустить процесс</button>
<div class="panel panel-default" style ="margin: auto">
  <div class="panel-heading">
      <h4 class="panel-title">Процесс в режиме ожидания</h4>
  </div>
  {% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
  {% endif %}

<div class="panel-body">

  <div class="input-group" style ="margin: left; margin-left:10pt">
    <form action="save_process/" method="post" class="form-horizontal">
      {% csrf_token %}
      <h4><b>Код процесса: </b>{{p.id}}</h4>
      <h4><b>Дата начала: </b>{{p.start_date}} <b>Дата конца: </b>{{p.finish_date}}</h4>
      <h4><b>Состав: </b>{{p.list}}</h4>
  <div class="form-group"><label for="ammount" class="col-sm-2 control-label" style="font-size: medium">Объём: </label><div class="col-sm-10"><div class="input-group"><input id="ammount" name="ammount" type="number" value="{{p.list.ammount}}" min="0" class="form-control" onchange="changeMinMax({{components}}, {{f}});changeWater();return false;"><span class="input-group-addon">кг</span></div></div>
</div>
        <input hidden class="form-control" id="formula" name="formula" onchange="getComponents2({{components}}, {{materials}}, {{l_c}}, {{c_id}});changeWater();return false;" value="{{p.list.formula.id}}">
      </div>
      <br><br>
      <table class="table table-sm" id="materials" style="width:100%; margin: auto">
        <thead>
          <tr>
            <th>Код</th><th>Наименование</th><th>Минимум, кг</th><th>Максимум, кг</th><th>Количество, кг</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ВД01</td>
            <td>Вода</td>
            <td>-</td>
            <td>-</td>
            <td id="water"></td>
          </tr>
        </tbody>
      </table>
      <br>
      <input type="hidden" id="json" name="json" value="">
      <input type="submit" value="Сохранить" class="btn btn-primary" style="float: right"/>
  </div>
  </form>
</div>
</div>
{% endblock content %}
